cadastro-incubados---z-api-copy-zJFDmsyEWsbbtTcR.json
{"createdAt":"2025-07-03T16:16:50.482Z","updatedAt":"2025-07-09T22:38:16.446Z","id":"zJFDmsyEWsbbtTcR","name":"Cadastro Incubados - Z-API copy","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[3480,860],"id":"5b09c6a4-1906-484c-b40f-474ddbead0b8","name":"RabbitMQ1","credentials":{"rabbitmq":{"id":"zsHCfy8AaJSgjGNk","name":"RabbitMQ account"}}},{"parameters":{"queue":"tecvitoria","options":{"acknowledge":"laterMessageNode","jsonParseBody":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1100,1060],"id":"96819389-8887-4e1e-9a2a-c4f6fb702ed8","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"zsHCfy8AaJSgjGNk","name":"RabbitMQ account"}},"disabled":true},{"parameters":{"queue":"=tecvitoria","options":{"durable":true}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[-1380,1060],"id":"b033dce7-f863-4b89-adac-2178c741d9a6","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"zsHCfy8AaJSgjGNk","name":"RabbitMQ account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"={{ $json.body.phone }}","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.body.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.body.text?.message || $json.body.buttonsResponseMessage?.message || $json.body.listResponseMessage?.title || 'Mensagem não encontrada' }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.body.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.body.type }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"={{ $json.body.instanceId }}","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"89c694a3-3a94-4bf2-8d8d-016bafa3040e","name":"time_out","value":60,"type":"number"},{"id":"95eb2166-9205-4b79-ab5d-0c98fc3969ee","name":"botao_ponto","value":"={{ $json.body.buttonsResponseMessage.buttonId }}","type":"number"},{"id":"829f6ec4-b04d-42e9-826f-3243f254d29a","name":"botao_lista","value":"={{ $json.body.listResponseMessage.selectedRowId }}\n\n","type":"string"},{"id":"fdd18f92-f4d8-412e-8111-8ad3158c06a3","name":"Nome da fila","value":"vitoria","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1660,1060],"id":"58af222a-9c86-4e25-a85d-0a80db939886","name":"Dados1"},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"={{ $json.content.remoteJid }}","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.content.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.content.conversation }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.content.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.content.messageType }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"={{ $json.content.evo.instance }}","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.content.evo.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.content.evo.apikey }}","type":"string"},{"id":"89c694a3-3a94-4bf2-8d8d-016bafa3040e","name":"time_out","value":60,"type":"number"},{"id":"95eb2166-9205-4b79-ab5d-0c98fc3969ee","name":"botao_ponto","value":"={{ $json.content.botao_ponto }}","type":"number"},{"id":"829f6ec4-b04d-42e9-826f-3243f254d29a","name":"botao_lista","value":"={{ $json.content.botao_lista }}","type":"string"},{"id":"fdd18f92-f4d8-412e-8111-8ad3158c06a3","name":"Nome da fila","value":"vitoria","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,1060],"id":"e39c8b75-1a4c-43f6-9611-acebe9eb5d0e","name":"Dados"},{"parameters":{"jsCode":"return items.map(item => {\n  const key = item.json.body?.data?.key || {};\n  const phone = key.phone || '';\n  const senderLid = key.senderLid || '';\n\n  let numeroFinal = null;\n\n  if (remoteJid.endsWith('@s.whatsapp.net')) {\n    numeroFinal = remoteJid;\n  } else if (senderLid && senderLid.endsWith('@s.whatsapp.net')) {\n    numeroFinal = senderLid;\n  }\n\n  item.json.numeroWhatsApp = numeroFinal;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,1060],"id":"fad9b004-bf3a-4601-95de-4a7bc244c56a","name":"Identificador WhatsApp","disabled":true},{"parameters":{"content":"VERIFICAR CADASTRO","height":600,"width":780,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1100,820],"typeVersion":1,"id":"75571591-27e4-49af-ba92-6d94776d4693","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97463018-7867-4ac1-a855-4c7eef322f10","leftValue":"={{ $node[\"Dados\"].json.conversation }}","rightValue":"#planilha","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,1160],"id":"73403ef5-a686-4db5-86d0-b1799d9337f6","name":"If4"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Segue link da planilha com dados dos candidatos a incubação"},{"name":"image","value":"https://tecvitoria.com.br/wp-content/uploads/2025/05/logo-tecvitoria-thumbnail.png"},{"name":"linkUrl","value":"=https://docs.google.com/spreadsheets/d/1V_CEvZEAYuto1iv-7GGf_Lj35JVBeINCQf-vkQluznY/edit?pli=1&gid=0#gid=0"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Inscreva-se na Incubação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,900],"id":"771fadf4-073d-48ce-9318-a80e64629c31","name":"Planilha","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"0"},{"fieldId":"status","fieldValue":"={{ \n  $('Get many rows').item.json.resultado === 'trilha_avancada' ? 'Trilha Avançada' : \n  $('Get many rows').item.json.resultado === 'aprovado_incubacao' ? 'Aprovado para Incubação' : \n  $('Get many rows').item.json.resultado === 'trilha_inicial' ? 'Trilha Inicial' : \n  'Valor desconhecido'\n}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1580,1540],"id":"9d844d5b-5b93-4468-9a4a-a08441d5f0ee","name":"Update a row13","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=Memória Apagada"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,940],"id":"f31fc1ff-da23-47bb-aab7-f6aca7e45ebb","name":"Z-API - Dados3","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"operation":"delete","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-380,1020],"id":"e22b9f02-5f93-4b7f-9162-f582548d0637","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99592960-cd42-443a-bac6-484a28bd2612","leftValue":"={{ $('Dados').item.json.conversation }}","rightValue":"#apagarmemoria","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,1060],"id":"670e5396-7674-4502-b18f-60bddebf8748","name":"If3"},{"parameters":{"jsCode":"return items.map(item => {\n  const pontuacao = parseInt($('Dados').item.json.conversation);\n  const nome = item.json.nome?.trim() || 'amigo';\n\n  let resposta = '';\n\n  if (pontuacao >= 1 && pontuacao <= 3) {\n    resposta = `😞 Puxa, que pena ${nome}, deixe sua opinião para que possamos melhorar o atendimento! Obrigado!`;\n  } else if (pontuacao >= 4 && pontuacao <= 5) {\n    resposta = `🥳 Que ótimo ${nome}! Ficamos felizes em saber que ajudamos!\\n\\nObrigado!`;\n  }\n\n  item.json.resposta = resposta;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1540],"id":"8c2ff23a-c573-4fb5-a323-1e584fa7b2aa","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68051f94-f634-4e3d-a2d9-a18a9f57e071","leftValue":"={{ $json.pergunta }}","rightValue":5,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,1060],"id":"74d856e2-1459-45ef-a5fe-a86505441471","name":"If1"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=Desculpe, não entendi. Poderia responder a pergunta acima? Pode tocar no botão ou digitar sua resposta novamente?"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,1200],"id":"58742a5b-5af9-400f-b8a7-79eb7c343d10","name":"Z-API - Dados","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e422f8-8f1b-432a-a828-fed6531c2492","leftValue":"={{ [\n  'Sim',\n  'Não',\n  'Sim, com dados organizados',\n  'Informalmente sem dados registrados',\n  'Ainda não realizei',\n  'Fiz informalmente, mas sem dados registrados',\n  '1',\n  '2',\n  '3',\n  '4',\n  '5'\n].includes(\n  ($('Dados').item.json.conversation || '').trim()\n) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[540,880],"id":"069272c4-0f6a-4429-ad91-77c3b23c21f5","name":"If"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').item.json.remoteJid }}\",\n  \"message\": \"{{ $json.nome }}, verificamos que seu WhatsApp já tem um cadastro aqui. Você deseja refazer o questionário?\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"Refazer\"\n      },\n      {\n        \"id\": \"2\",\n        \"label\": \"Manter o atual\"\n      }\n\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,880],"id":"0d1a574c-bee0-4944-8e36-c8ae5e372df2","name":"Recomeçar","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"07aec2b3-5af9-4d67-a3d5-53abf0a91525","leftValue":"={{ $json.Phone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"39a6ef91-8ad2-4859-9f3f-89d9ced25556","leftValue":"={{ $json.resultado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1460,1040],"id":"6da03609-7ca6-4ed9-85ae-dcb6be87ff3f","name":"If5"},{"parameters":{"jsCode":"// Node Code (Node Type: Code / Function / JavaScript)\nreturn items.map(item => {\n  const pontuacao = item.json.pontuacao;\n  let resultado;\n\n  if (pontuacao >= 8) {\n    resultado = 'aprovado_incubacao';\n  } else if (pontuacao >= 4) {\n    resultado = 'trilha_avancada';\n  } else {\n    resultado = 'trilha_inicial';\n  }\n\n  // Adiciona a nova chave \"resultado\" no JSON\n  item.json.resultado = resultado;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3060,2460],"id":"9ef2841f-356d-40a5-a5a0-d9ef995f1b01","name":"pontuacao"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2760,2460],"id":"4ef8c081-2af0-4ab0-aa0f-cb6804263665","name":"Wait7","webhookId":"f8a569fb-8779-48d7-b598-b0c8be82e5b7"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultado","fieldValue":"={{ $json.resultado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3220,2460],"id":"ce77c7ed-781a-489d-8983-681afc42dae2","name":"Update a row12","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1V_CEvZEAYuto1iv-7GGf_Lj35JVBeINCQf-vkQluznY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Inscriçoes Tecvitoria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V_CEvZEAYuto1iv-7GGf_Lj35JVBeINCQf-vkQluznY/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"Nome":"={{ $json.Nome }}","Pontuacao":"={{ $json.Pontuacao }}","Projeto":"="},"matchingColumns":["Nome"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pontuacao","displayName":"Pontuacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Projeto","displayName":"Projeto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resultado","displayName":"Resultado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Qualificacao","displayName":"Data Qualificacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Modelo Negocio","displayName":"Modelo Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TAM/SAM/SOM","displayName":"TAM/SAM/SOM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pesquisa Qualitativa","displayName":"Pesquisa Qualitativa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Concorrentes","displayName":"Concorrentes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Persona","displayName":"Persona","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pitch","displayName":"Pitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Programas Anteriores","displayName":"Programas Anteriores","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0d6a92a9-f839-4956-b74a-2e61f058efb1","name":"Atualizar Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[5100,2460],"credentials":{"googleSheetsOAuth2Api":{"id":"3fmEfiU77SmuDnJw","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Função para converter respostas_json para formato legível\nfunction formatarRespostas(respostasJson) {\n  let respostas;\n  \n  // Se já é um objeto, usa diretamente. Se é string, faz parse\n  if (typeof respostasJson === 'string') {\n    try {\n      respostas = JSON.parse(respostasJson);\n    } catch (e) {\n      console.log('Erro ao fazer parse do JSON:', e);\n      return {\n        modeloNegocio: '',\n        tamSamSom: '',\n        pesquisaQualitativa: '',\n        concorrentes: '',\n        persona: '',\n        pitch: '',\n        programasAnteriores: ''\n      };\n    }\n  } else {\n    respostas = respostasJson;\n  }\n  \n  // Função auxiliar para converter valores booleanos\n  const formatarBoolean = (valor) => {\n    if (valor === true) return 'Sim';\n    if (valor === false) return 'Não';\n    if (valor === '') return 'Não Informado';\n    return valor || 'Não Informado';\n  };\n  \n  // Função para formatar pesquisa e concorrentes\n  const formatarPesquisa = (valor) => {\n    switch (valor) {\n      case 'nao_realizei': return 'Não Realizei';\n      case 'informal': return 'Informal';\n      case 'dados_organizados': return 'Dados Organizados';\n      default: return valor || 'Não Informado';\n    }\n  };\n  \n  return {\n    modeloNegocio: formatarBoolean(respostas.modeloNegocio),\n    tamSamSom: formatarBoolean(respostas.tamSamSom),\n    pesquisaQualitativa: formatarPesquisa(respostas.pesquisaQualitativa),\n    concorrentes: formatarPesquisa(respostas.concorrentes),\n    persona: formatarBoolean(respostas.persona),\n    pitch: formatarBoolean(respostas.pitch),\n    programasAnteriores: formatarBoolean(respostas.programasAnteriores)\n  };\n}\n\n// Função para formatar campos diretos do Supabase\nfunction formatarCamposDirectos(dados) {\n  // Função para normalizar respostas diretas\n  const normalizarResposta = (valor) => {\n    if (valor === null || valor === undefined || valor === '') return 'Não Informado';\n    \n    const valorStr = String(valor).toLowerCase().trim();\n    \n    // Para campos boolean/sim/não\n    if (valorStr === 'sim' || valorStr === 'true') return 'Sim';\n    if (valorStr === 'não' || valorStr === 'nao' || valorStr === 'false') return 'Não';\n    \n    // Para pesquisa qualitativa\n    if (valorStr.includes('informalmente sem dados') || valorStr.includes('informal')) return 'Informal';\n    if (valorStr.includes('dados organizados')) return 'Dados Organizados';\n    if (valorStr.includes('ainda não realizei') || valorStr.includes('não realizei')) return 'Não Realizei';\n    \n    // Para mapeamento concorrentes\n    if (valorStr.includes('fiz informalmente') || valorStr.includes('informal')) return 'Informal';\n    \n    return String(valor).trim() || 'Não Informado';\n  };\n  \n  return {\n    modeloNegocio: normalizarResposta(dados['Plano de negócios']),\n    tamSamSom: normalizarResposta(dados['TamSamSom']),\n    pesquisaQualitativa: normalizarResposta(dados['Pesquisa qualitativa:']),\n    concorrentes: normalizarResposta(dados['Mapeamento concorrentes']),\n    persona: normalizarResposta(dados['Persona']),\n    pitch: normalizarResposta(dados['Pitch']),\n    programasAnteriores: normalizarResposta(dados['Programas'])\n  };\n}\n\n// Função para formatar resultado\nfunction formatarResultado(resultado) {\n  switch (resultado) {\n    case 'Trilha Inicial': return 'Trilha Inicial';\n    case 'Trilha Avançada': return 'Trilha Avançada';\n    case 'Aprovado para Incubação': return 'Aprovado para Incubação';\n    case 'aprovado_incubacao': return 'Aprovado para Incubação';\n    case 'trilha_inicial': return 'Trilha Inicial';\n    case 'trilha_avancada': return 'Trilha Avançada';\n    default: return resultado || 'Não Definido';\n  }\n}\n\n// Função para formatar status\nfunction formatarStatus(status) {\n  switch (status) {\n    case 'trilha_inicial': return 'Trilha Inicial';\n    case 'trilha_avancada': return 'Trilha Avançada';\n    case 'aprovado_incubacao': return 'Aprovado Incubação';\n    default: return status || 'Não Definido';\n  }\n}\n\n// Função para formatar data\nfunction formatarData(dataIso) {\n  if (!dataIso) return 'Não Informado';\n  \n  try {\n    const data = new Date(dataIso);\n    return data.toLocaleDateString('pt-BR') + ' ' + data.toLocaleTimeString('pt-BR', { \n      hour: '2-digit', \n      minute: '2-digit' \n    });\n  } catch (e) {\n    return 'Data Inválida';\n  }\n}\n\n// Processar os dados do Supabase\nconst dadosFormatados = [];\n\nfor (const item of $input.all()) {\n  const dados = item.json;\n  \n  // Primeiro tenta usar os campos diretos do Supabase\n  let respostasFormatadas = formatarCamposDirectos(dados);\n  \n  // Se os campos diretos estão vazios/null, usa o respostas_json como fallback\n  const temCamposDirectos = Object.values(respostasFormatadas).some(valor => valor !== 'Não Informado');\n  \n  if (!temCamposDirectos && dados.respostas_json) {\n    respostasFormatadas = formatarRespostas(dados.respostas_json);\n  }\n  \n  dadosFormatados.push({\n    Nome: dados.nome || 'Não Informado',\n    Pontuacao: dados.pontuacao || 0,\n    Projeto: dados.projeto || 'Não Informado',\n    Email: dados.email || 'Não Informado',\n    WhatsApp: dados.whatsapp || 'Não Informado',\n    Resultado: formatarResultado(dados.resultado),\n    Status: formatarStatus(dados.status),\n    'Data Qualificacao': formatarData(dados.data_qualificacao),\n    'Modelo Negocio': respostasFormatadas.modeloNegocio,\n    'TAM/SAM/SOM': respostasFormatadas.tamSamSom,\n    'Pesquisa Qualitativa': respostasFormatadas.pesquisaQualitativa,\n    'Concorrentes': respostasFormatadas.concorrentes,\n    'Persona': respostasFormatadas.persona,\n    'Pitch': respostasFormatadas.pitch,\n    'Programas Anteriores': respostasFormatadas.programasAnteriores\n  });\n}\n\nreturn dadosFormatados.map(item => ({ json: item }));"},"id":"c516e7b3-aa40-41f6-915a-a56e2958c082","name":"Processar Dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[4920,2460]},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1V_CEvZEAYuto1iv-7GGf_Lj35JVBeINCQf-vkQluznY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Inscriçoes Tecvitoria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V_CEvZEAYuto1iv-7GGf_Lj35JVBeINCQf-vkQluznY/edit#gid=0"},"keepFirstRow":true},"id":"b23c98e4-53d2-4884-bed5-9eec1f222d76","name":"Limpar Dados Existentes","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[4720,2460],"credentials":{"googleSheetsOAuth2Api":{"id":"3fmEfiU77SmuDnJw","name":"Google Sheets account"}}},{"parameters":{"operation":"getAll","tableId":"qualification_results"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4500,2460],"id":"2ba0e7a3-45f1-4598-875a-262241fceb34","name":"Get many rows5","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-option-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').first().json.remoteJid }}\",\n  \"message\": \"Antes de finalizar, gostaria de saber a sua opinião sobre a nossa conversa:\\n\\nDe 1 a 5, qual nota você acha que meu *atendimento* pelo *WhatsApp* merece?\\n\\n1 🟥🟥🟧🟨🟩 5\",\n  \"optionList\": {\n    \"buttonLabel\": \"Opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"1\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"2\"\n      },\n{\n        \"id\": \"3\",\n        \"title\": \"3\"\n      },\n{\n        \"id\": \"4\",\n        \"title\": \"4\"\n      },\n     {\n        \"id\": \"5\",\n        \"title\": \"5\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4300,2460],"id":"af120b31-30b3-47b1-9929-5eb4d26da2d6","name":"Feedback1","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4060,2700],"id":"74306736-e801-491e-a082-f3d9007d0f2e","name":"Wait6","webhookId":"576bf052-0cde-4339-b96b-a8f10f5e0ced"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4060,2460],"id":"1c09b89e-2cea-43a4-85ed-fb36797fe97a","name":"Wait5","webhookId":"34ddddb8-a65b-401f-8113-35da2b2c7c65"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4060,2220],"id":"8af82e5d-e063-4972-90dd-19746e321828","name":"Wait4","webhookId":"64962a30-06ed-4b73-a881-5615f43f99ff"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Análise concluída!\n\nSeu projeto está em uma fase inicial – e isso é totalmente normal. A inovação começa com uma boa ideia, mas precisa de organização e validação para gerar impacto real.\n\nO melhor caminho agora é participar da nossa Trilha da Inovação – um programa online e gratuito que vai te ensinar a aplicar ferramentas como Lean Canvas, mapa de empatia, pesquisa com clientes e construção de pitch.\n\n👉 Acesse agora o site e se cadastre: \n"},{"name":"image","value":"https://tecvitoria.com.br/wp-content/uploads/2025/06/logo-trilha-inovacao-tecvitoria.jpg"},{"name":"linkUrl","value":"https://trilhadainovacao.tecvitoria.com.br/"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Acesse a Trilha da Inovação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3860,2700],"id":"7117547a-ac25-42dd-8a01-42b65c6b3a8a","name":"Inscrição Trilha da Inovação1","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Análise concluída!\n\nVocê já avançou bastante na estruturação do seu projeto – isso é excelente! 🎯\n\nNo entanto, ainda há pontos importantes a desenvolver para garantir uma análise mais robusta no processo de incubação.\n\n👉 Recomendamos que você participe da nossa Trilha da Inovação, uma jornada 100% online e gratuita que vai te apoiar no preenchimento dessas lacunas com conteúdos práticos e direcionados.\nVocê receberá acesso à nossa plataforma Startec, onde poderá se cadastrar e acessar os conteúdos necessários para estruturar melhor a sua ideia.\n\nDurante a trilha, você também terá reuniões com o nosso time de incubação, que irá acompanhar de perto sua evolução.\n\nClique para começar a trilha, informe o voucher “TRILHAINOVA”:\n"},{"name":"image","value":"https://tecvitoria.com.br/wp-content/uploads/2025/06/Startec.jpg"},{"name":"linkUrl","value":"https://startec.tecvitoria.com.br/convite/trilha-da-inovacao-boot/01jyhmjhc9f3gynqd71pp956fv"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Inscreva-se na Startec"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3860,2460],"id":"f08cd1df-7a33-41d8-844c-c727118d0f43","name":"Aprovado para Startec1","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Análise concluída!\n\nParabéns! 🎉 \n\nVocê já possui todos os requisitos que analisamos para o processo de incubação da TecVitória. Isso mostra que sua ideia passou por etapas fundamentais de estruturação e validação no mercado, o que aumenta muito as chances de sucesso na jornada empreendedora.\nNosso time está pronto para te acompanhar no próximo passo.\n\n👉 Inscreva-se agora no nosso edital de fluxo contínuo de incubação pelo site."},{"name":"image","value":"https://tecvitoria.com.br/wp-content/uploads/2025/06/incubacao-1.jpg"},{"name":"linkUrl","value":"https://incubacao.tecvitoria.com.br/"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Inscreva-se na Incubação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3860,2220],"id":"3f20303f-a9b6-4a2b-8fff-f32d0be54da1","name":"Aprovado para Incubação2","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.resultado }}","rightValue":"aprovado_incubacao","operator":{"type":"string","operation":"equals"},"id":"8a842253-023e-4ec6-b02b-e6636c8bb871"}],"combinator":"and"},"renameOutput":true,"outputKey":"Incubação"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40c9068e-6f64-44e4-ab47-53c346a9daf1","leftValue":"={{ $json.resultado }}","rightValue":"trilha_avancada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avançada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adf4ac5c-bdae-490f-9775-c1da05e11cf0","leftValue":"={{ $json.resultado }}","rightValue":"trilha_inicial","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Inicial"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3380,2460],"id":"f021ed13-dbaa-4275-a2e0-0be38f20bb67","name":"Switch3"},{"parameters":{"jsCode":"// Garante que só o primeiro item seja retornado como array com 1 item\nreturn [ { json: items[0].json } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3620,2700],"id":"6ca241f3-c59f-446a-b122-2df8412dec2a","name":"Code8","disabled":true},{"parameters":{"jsCode":"// Garante que só o primeiro item seja retornado como array com 1 item\nreturn [ { json: items[0].json } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3620,2460],"id":"704c1153-9dbc-4570-b260-6879c6ad76aa","name":"Code7","disabled":true},{"parameters":{"jsCode":"// Garante que só o primeiro item seja retornado como array com 1 item\nreturn [ { json: items[0].json } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3620,2220],"id":"9ab80516-bdd5-4655-91dd-890acc2dfe9a","name":"Code6","disabled":true},{"parameters":{"operation":"getAll","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2900,2460],"id":"50bde9c0-38fd-4f15-8c25-c886c60f3560","name":"Get many rows4","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2420,2460],"id":"354c7811-d8d3-4dc6-9615-13d339522dc6","name":"Get many rows3","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pontuacao","fieldValue":"={{ $json['botao-ponto-1'] + $json['botao-ponto-2'] + $json['botao-ponto-3'] + $json['botao-ponto-4'] + $json['botao-ponto-5'] + $json['botao-ponto-6'] }}"},{"fieldId":"Programas","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2600,2460],"id":"3e5dfd94-0aaf-4d97-bcf5-ddc279df0d85","name":"Update a row11","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=11"},{"fieldId":"Pitch","fieldValue":"={{ $('Dados').item.json.conversation }}"},{"fieldId":"botao-ponto-6","fieldValue":"={{ $('Dados').item.json.botao_ponto }}"},{"fieldId":"Pitch","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,2180],"id":"e1fb6b80-79bf-410f-a055-70e158aa4fec","name":"Update a row10","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-button-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').item.json.remoteJid }}\",\n  \"message\": \"📚 *Você já participou de algum outro programa ou trilha de desenvolvimento de projetos de inovação?*\\n\\n_Podem ser trilhas de incubação, pré-aceleração, aceleração ou alguma outra capacitação, treinamento ou mentoria relacionada ao desenvolvimento de projetos de inovação ou startups._\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"Sim\"\n      },\n      {\n        \"id\": \"0\",\n        \"label\": \"Não\"\n      }\n\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,2180],"id":"cb73f008-23a2-4b7c-aaa4-6c85fbf1d13b","name":"Z-API - Botões Pergunta 5","retryOnFail":true,"maxTries":5,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=10"},{"fieldId":"Persona","fieldValue":"={{ $('Dados').item.json.conversation }}"},{"fieldId":"botao-ponto-5","fieldValue":"={{ $('Dados').item.json.botao_ponto }}"},{"fieldId":"Persona","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,2000],"id":"2677ab33-293a-4639-9a37-0a72c2e17474","name":"Update a row9","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-button-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').item.json.remoteJid }}\",\n  \"message\": \"🎤 *Você já possui uma apresentação da sua solução?*\\n\\n_A apresentação da sua solução tem mapeado problemas ou necessidades, dor que você resolve, diferenciais competitivos, tamanho do mercado?_\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"Sim\"\n      },\n      {\n        \"id\": \"0\",\n        \"label\": \"Não\"\n      }\n\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,2000],"id":"9286f47e-562f-489c-b151-6eb0a1840c4d","name":"Z-API - Botões Pergunta 4","retryOnFail":true,"maxTries":5,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=9"},{"fieldId":"Mapeamento concorrentes","fieldValue":"={{ $('Dados').item.json.conversation }}"},{"fieldId":"botao-ponto-4","fieldValue":"={{ $('Dados').item.json.botao_lista }}"},{"fieldId":"Mapeamento concorrentes","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,1820],"id":"a8fe754c-b2a9-432b-a306-e6dce7e3e9e0","name":"Update a row8","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-button-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').item.json.remoteJid }}\",\n  \"message\": \"🧠 *Você já estruturou a persona da sua solução?*\\n\\n_A persona é uma representação do cliente ideal e deixa claro quais os diferenciais que ele tem, além de ter mapeadas as dores e necessidades, facilitando a compreensão do diferencial e a criação de soluções mais eficazes._\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"Sim\"\n      },\n      {\n        \"id\": \"0\",\n        \"label\": \"Não\"\n      }\n\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,1820],"id":"27dfadfb-2a77-4fdf-b0a7-6c0853d3658b","name":"Z-API - Botões Pergunta 3","retryOnFail":true,"maxTries":5,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=8"},{"fieldId":"Pesquisa qualitativa:","fieldValue":"={{ $('Dados').item.json.conversation }}"},{"fieldId":"botao-ponto-3","fieldValue":"={{ $('Dados').item.json.botao_lista }}"},{"fieldId":"Pesquisa qualitativa:","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,1640],"id":"b6e26d35-b04e-49f6-9ecc-c8df30b12062","name":"Update a row7","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-option-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').first().json.remoteJid }}\",\n  \"message\": \"🕵️‍♂️ *Você já mapeou os principais concorrentes e o diferencial que sua solução tem?*\\n\\n_Ter o mapeamento de concorrentes e o comparativo em relação ao que tenho como diferencial deixa mais claro a proposta de valor para o mercado._\",\n  \"optionList\": {\n    \"buttonLabel\": \"Opções\",\n    \"options\": [\n      {\n        \"id\": \"2\",\n        \"title\": \"Sim, com dados organizados\\n\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"Fiz informalmente, mas sem dados registrados\\n\"\n      },\n     {\n        \"id\": \"0\",\n        \"title\": \"Ainda não realizei\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,1640],"id":"7ad5f73e-e21b-4ad4-a5ee-4dca74057fb6","name":"Z-API - Lista - Pergunta 1","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=6"},{"fieldId":"Plano de negócios","fieldValue":"={{ $('Dados').item.json.conversation }}"},{"fieldId":"botao-ponto-1","fieldValue":"={{ $('Dados').item.json.botao_ponto }}"},{"fieldId":"Plano de negócios","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,1300],"id":"08774b71-25aa-4b91-982b-dea45a24273e","name":"Update a row6","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-button-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').item.json.remoteJid }}\",\n  \"message\": \"📊 *Você já analisou o tamanho de mercado do seu modelo de negócios e entendeu como vai gerar receitas?*\\n\\n _Essas métricas ajudam a estimar o potencial de alcance da sua solução._\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"Sim\"\n      },\n      {\n        \"id\": \"0\",\n        \"label\": \"Não\"\n      }\n\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,1300],"id":"7c9774de-6736-4f92-ad19-18d3db951733","name":"Z-API - Botões Pergunta 2","retryOnFail":true,"maxTries":5,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=5"},{"fieldId":"whatsapp","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,1140],"id":"9726bb88-a41f-4902-9b95-8f6b31e8cb8d","name":"Update a row5","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-button-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').item.json.remoteJid }}\",\n  \"message\": \"📌 *Você já elaborou o Modelo de Negócio da sua ideia/projeto?*\\n\\n_O Modelo de Negócio é uma ferramenta que ajuda a estruturar de maneira objetiva e simples as principais áreas do seu projeto._\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"Sim\"\n      },\n      {\n        \"id\": \"0\",\n        \"label\": \"Não\"\n      }\n\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,1140],"id":"3e09eba0-9bf4-43fe-a862-fa44210f62a0","name":"Z-API - Botões Pergunta ","retryOnFail":true,"maxTries":5,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=7"},{"fieldId":"TamSamSom","fieldValue":"={{ $('Dados').item.json.conversation }}"},{"fieldId":"botao-ponto-2","fieldValue":"={{ $('Dados').item.json.botao_ponto }}"},{"fieldId":"TamSamSom","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,1480],"id":"337ef258-b9bb-4385-bbbc-c973f776ce9f","name":"Update a row4","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-option-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').first().json.remoteJid }}\",\n  \"message\": \"🧪 *Você já realizou uma pesquisa qualitativa com potenciais clientes validando a dor que sua solução resolve?*\\n\\n_Aqui consideramos entrevistas, formulários ou qualquer forma de coleta estruturada, com dados organizados._\",\n  \"optionList\": {\n    \"buttonLabel\": \"Opções\",\n    \"options\": [\n      {\n        \"id\": \"2\",\n        \"title\": \"Sim, com dados organizados\\n\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"Informalmente sem dados registrados\\n\"\n      },\n     {\n        \"id\": \"0\",\n        \"title\": \"Ainda não realizei\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,1480],"id":"82dea6a6-34ee-40e1-8d92-09acf476b6c2","name":"Z-API - Lista - Pergunta ","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=4"},{"fieldId":"email","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,980],"id":"cbdaa562-2f53-4631-beb2-e02077134b30","name":"Update a row3","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=*Agora, informe seu número de WhatsApp (com DDD e sem espaços)*:\n\n(Exemplo: 5511999999999)"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,980],"id":"80d26313-08e9-47ca-97cc-7589e32e934b","name":"Z-API - Dados8","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=3"},{"fieldId":"projeto","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,820],"id":"2f944f9d-826f-442e-95bc-6a6ace9719de","name":"Update a row2","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=*Informe seu e-mail para contato*:\n\n(Exemplo: email@valido.com)"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,820],"id":"562611f5-d367-4fd8-9513-f029e7679d8b","name":"Z-API - Dados7","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0436fa2-867b-4a3e-b55d-c64182c4461d","leftValue":"={{ $json.Phone }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,1160],"id":"90e26688-7e38-41b4-aef2-3028ec23eefc","name":"If8"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=2"},{"fieldId":"nome","fieldValue":"={{ $('Dados').item.json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2700,660],"id":"1e15ba2f-bf01-4e87-9921-5293f9563e63","name":"Update a row1","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=🚀 *Agora, por favor, informe o nome do seu projeto ou ideia inovadora*:"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,660],"id":"fa3ef019-ad28-4c45-aac4-14701f119b3e","name":"Z-API - Dados6","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.pergunta }}","rightValue":0,"operator":{"type":"number","operation":"equals"},"id":"aa873065-b4b7-48a4-a533-a79029b4d5bb"}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c83499b-999c-45b9-ac78-354430cdf0be","leftValue":"={{ $json.pergunta }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"493ae156-fcef-464e-aa1c-d240579656d9","leftValue":"={{ $json.pergunta }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cabca592-ef9a-4b80-bb20-0bd93a6b9a04","leftValue":"={{ $json.pergunta }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a607a0a-7f03-4ebf-8bc3-cbfd77a62992","leftValue":"={{ $json.pergunta }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7eb37982-aad8-4e74-a169-bb65085064ce","leftValue":"={{ $json.pergunta }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6cc9e17-8625-4590-930a-a4766fa0de23","leftValue":"={{ $json.pergunta }}","rightValue":6,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"6"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be8f5669-67b9-47e7-b1a8-36eae2cbdf38","leftValue":"={{ $json.pergunta }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb15ec9e-6ebf-4ed5-917f-eaf2c918172f","leftValue":"={{ $json.pergunta }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"8"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b8bc187-0322-4598-83af-3f7e705c2d2b","leftValue":"={{ $json.pergunta }}","rightValue":9,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"9"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9244af32-9643-46fe-a6fb-3d1374eceae4","leftValue":"={{ $json.pergunta }}","rightValue":10,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae6c0b86-0b7f-4b16-ab20-609c2758efb4","leftValue":"={{ $json.pergunta }}","rightValue":11,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"11"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2060,860],"id":"34404e89-d6f9-44db-bdd8-2d4069e45a4f","name":"Switch1"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"pergunta","fieldValue":"=1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3280,460],"id":"692ed125-7295-4e8c-a849-680902331b0a","name":"Update a row","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"tableId":"qualification_results","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"=cadastro"},{"fieldId":"projeto","fieldValue":"=null"},{"fieldId":"email","fieldValue":"=null"},{"fieldId":"whatsapp","fieldValue":"=null"},{"fieldId":"pontuacao","fieldValue":"=0"},{"fieldId":"resultado","fieldValue":"="},{"fieldId":"status","fieldValue":"="},{"fieldId":"data_qualificacao","fieldValue":"={{ $now}}"},{"fieldId":"respostas_json","fieldValue":"="},{"fieldId":"Phone","fieldValue":"={{ $('Dados').item.json.remoteJid }}"},{"fieldId":"pergunta","fieldValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,580],"id":"8d3f53d8-1b48-410b-9b94-1f4397a96980","name":"Create a row","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=👋 Olá! Seja bem-vindo(a) à TecVitória!\n\nSomos a primeira incubadora de empresas de base tecnológica do Espírito Santo!\n\nNosso propósito é apoiar empreendedores como você a transformar ideias inovadoras em negócios sustentáveis e competitivos no mercado.\n\nPara entender se este é o momento ideal para você ser incubado ou se ainda vale investir na estruturação da sua ideia, vamos fazer algumas perguntas rápidas.\n\n🧭 Ao final, vamos te direcionar para o melhor caminho.\n\n✍ *Primeiro, informe seu nome completo:*\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2980,460],"id":"2602a9c7-bd77-4b6a-b950-a11fea07dc89","name":"Z-API - Dados5","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"getAll","tableId":"qualification_results","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"nome","condition":"eq","keyValue":"cadastro"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2420,480],"id":"c43924ff-de39-4550-9d30-a7861796e105","name":"Get many rows1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"65bfae7a-b678-4b4d-8610-eb04b9b0b03a","leftValue":"={{ $json.nome }}","rightValue":"cadastro","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2700,480],"id":"0f312b7e-f32a-4138-b84a-46494e145a20","name":"If6"},{"parameters":{"content":"APAGAR MEMÓRIA","height":440,"width":580},"type":"n8n-nodes-base.stickyNote","position":[1100,360],"typeVersion":1,"id":"24747b73-ba6e-41fd-bea6-d916829bd401","name":"Sticky Note9"},{"parameters":{"content":"Feedback\n","height":320,"width":700},"type":"n8n-nodes-base.stickyNote","position":[1100,1440],"typeVersion":1,"id":"ec6e04b6-a8e6-40ef-ab74-9e29aa741fee","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"={{ $json.resposta }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,1540],"id":"46be1646-c92f-4582-b3ad-4db773d7e7ba","name":"Z-API - Dados2","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"operation":"delete","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1360,640],"id":"fd55444d-715d-4e89-ab70-471c55755ad6","name":"Supabase5","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9eb6b97d-d4fa-4259-876b-39e38ce58768","leftValue":"={{ $node[\"Dados\"].json.conversation }}","rightValue":"=#apagarmemoria","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,920],"id":"a14c3cca-59e2-4811-a928-c9df18efed10","name":"If7"},{"parameters":{"operation":"delete","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1360,440],"id":"97019bb9-6caf-47ad-a0bb-7ea278b7bb4a","name":"Supabase4","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=Perfeito {{ $json.nome }}, após essa mensagem, seu questionário será reiniciado"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,440],"id":"243d9378-a7f8-4c61-b3f2-eeae9de94baf","name":"Z-API - Dados1","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Perfeito {{ $json.nome }}!\nRelembrando, você foi {{ $json.resultado.toLowerCase() }}.\n\nClique no link abaixo, caso não tenha feito."},{"name":"image","value":"={{    $json.resultado.toLowerCase().trim() === 'aprovado_incubacao'     ? 'https://tecvitoria.com.br/wp-content/uploads/2025/06/incubacao-1.jpg'     : $json.resultado.toLowerCase().trim() === 'trilha_avancada'       ? 'https://tecvitoria.com.br/wp-content/uploads/2025/06/Startec.jpg'       : $json.resultado.toLowerCase().trim() === 'trilha_inicial'         ? 'https://tecvitoria.com.br/wp-content/uploads/2025/06/logo-trilha-inovacao-tecvitoria.jpg'         : '' }}"},{"name":"linkUrl","value":"={{ \n  $json.resultado === 'aprovado_incubacao' \n    ? 'https://incubacao.tecvitoria.com.br/' \n    : $json.resultado === 'trilha_avancada' \n      ? 'https://startec.tecvitoria.com.br/convite/trilha-da-inovacao-boot/01jyhmjhc9f3gynqd71pp956fv' \n      : $json.resultado === 'trilha_inicial' \n        ? 'https://trilhadainovacao.tecvitoria.com.br/' \n        : ''\n}}"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Inscreva-se na Incubação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,1160],"id":"ca9f3544-fb51-4ebe-a04d-537e8db0ed61","name":"Aprovado para Incubação1","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Dados').item.json.conversation }}","rightValue":"Refazer","operator":{"type":"string","operation":"equals"},"id":"468f591d-149a-4345-ace8-22026944b274"}],"combinator":"and"},"renameOutput":true,"outputKey":"Refazer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb642314-8dd5-44ac-b9a0-8aa3c1f9f979","leftValue":"={{ !$('Dados').item.json.conversation.match(/\\b(Refazer|Manter o atual|[12345])\\b/i) }}","rightValue":"Manter o atual Refazer","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continua"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fec5448-f22f-44d8-9fdd-72cc9a136087","leftValue":"={{ $('Dados').item.json.conversation }}","rightValue":"Manter o atual","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Manter o atual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"214e9ccc-908e-4a93-9bc6-b61dfa258833","leftValue":"={{ [1, 2, 3, 4, 5].includes(+$('Dados').item.json.conversation) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Feedback"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[840,1020],"id":"50cda1f6-9708-4d23-9e2a-2206df0b0764","name":"Switch2"},{"parameters":{"operation":"getAll","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[200,1060],"id":"07522e8a-8427-431e-b41b-548cd9ab8cdd","name":"Get many rows","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea9512f2-e67c-4ef7-992f-893c75cfee8f","leftValue":"={{ $('Dados').item.json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[40,1200],"id":"d9896895-9475-40f5-abea-0c4b1f4f0e7b","name":"If2"},{"parameters":{"content":"CADASTRO","height":2540,"width":3380,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1940,320],"typeVersion":1,"id":"789f2630-954f-41d7-980b-77a884c71ca6","name":"Sticky Note7"},{"parameters":{"content":"PONTUAÇÃO\n\n##\n1. Nome\n2. Projeto\n3. e-mail\n4. celular\n5. Modelo de Negócio: 1 ponto\n6. TAM/SAM/SOM: 1 ponto  \n7. Pesquisa qualitativa: \"dados_organizados\" = 2 pontos, \"informal\" = 1 ponto, \"nao_realizei\" = 0 pontos\n8. Mapeamento concorrentes: \"dados_organizados\" = 2 pontos, \"informal\" = 1 ponto, \"nao_realizei\" = 0 pontos\n9. Persona: 1 ponto\n10. Pitch: 1 ponto\n11. Programas anteriores: não pontua\n TOTAL MÁXIMO: 8 pontos\n##\n","height":520,"width":540,"color":4},"type":"n8n-nodes-base.stickyNote","position":[540,280],"typeVersion":1,"id":"197ccb33-6d4e-4671-bac5-605d4b57b5f9","name":"Sticky Note2"},{"parameters":{"content":"ENTRADA DE DADOS","height":500,"width":3260,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2200,860],"typeVersion":1,"id":"daf535e2-00a6-439d-9a3d-ab306ffa7739","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"incubadora","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2040,1060],"id":"af0356e8-e2b3-4279-95b6-4abc19c5a7ef","name":"Webhook","webhookId":"84cd0473-4cce-4b1f-ae0b-d9770e58233a"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-900,940],"id":"ff20d773-d754-4d18-8c45-077f5706261f","name":"Wait","webhookId":"18399d00-605a-4b1a-ba06-8bbe7f7c00f0"}],"connections":{"Dados1":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Identificador WhatsApp":{"main":[[{"node":"Dados1","type":"main","index":0}]]},"If4":{"main":[[{"node":"Planilha","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"Dados":{"main":[[{"node":"If3","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Z-API - Dados3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Supabase","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"Code":{"main":[[{"node":"Z-API - Dados2","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Z-API - Dados","type":"main","index":0}]]},"If5":{"main":[[{"node":"Recomeçar","type":"main","index":0}],[{"node":"If8","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Get many rows4","type":"main","index":0}]]},"pontuacao":{"main":[[{"node":"Update a row12","type":"main","index":0}]]},"Update a row12":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Processar Dados":{"main":[[{"node":"Atualizar Google Sheets","type":"main","index":0}]]},"Limpar Dados Existentes":{"main":[[{"node":"Processar Dados","type":"main","index":0}]]},"Get many rows5":{"main":[[{"node":"Limpar Dados Existentes","type":"main","index":0}]]},"Feedback1":{"main":[[{"node":"Get many rows5","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Feedback1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Feedback1","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Feedback1","type":"main","index":0}]]},"Inscrição Trilha da Inovação1":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Aprovado para Startec1":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Aprovado para Incubação2":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Code6","type":"main","index":0}],[{"node":"Code7","type":"main","index":0}],[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Inscrição Trilha da Inovação1","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Aprovado para Startec1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Aprovado para Incubação2","type":"main","index":0}]]},"Get many rows4":{"main":[[{"node":"pontuacao","type":"main","index":0}]]},"Get many rows3":{"main":[[{"node":"Update a row11","type":"main","index":0}]]},"Update a row11":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Update a row10":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Botões Pergunta 5":{"main":[[{"node":"Update a row10","type":"main","index":0}]]},"Update a row9":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Botões Pergunta 4":{"main":[[{"node":"Update a row9","type":"main","index":0}]]},"Update a row8":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Botões Pergunta 3":{"main":[[{"node":"Update a row8","type":"main","index":0}]]},"Update a row7":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Lista - Pergunta 1":{"main":[[{"node":"Update a row7","type":"main","index":0}]]},"Update a row6":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Botões Pergunta 2":{"main":[[{"node":"Update a row6","type":"main","index":0}]]},"Update a row5":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Botões Pergunta ":{"main":[[{"node":"Update a row5","type":"main","index":0}]]},"Update a row4":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Lista - Pergunta ":{"main":[[{"node":"Update a row4","type":"main","index":0}]]},"Update a row3":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Dados8":{"main":[[{"node":"Update a row3","type":"main","index":0}]]},"Update a row2":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Dados7":{"main":[[{"node":"Update a row2","type":"main","index":0}]]},"If8":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Z-API - Dados6":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Switch1":{"main":[[],[{"node":"Z-API - Dados6","type":"main","index":0}],[{"node":"Z-API - Dados7","type":"main","index":0}],[{"node":"Z-API - Dados8","type":"main","index":0}],[{"node":"Z-API - Botões Pergunta ","type":"main","index":0}],[{"node":"Z-API - Botões Pergunta 2","type":"main","index":0}],[{"node":"Z-API - Lista - Pergunta ","type":"main","index":0}],[{"node":"Z-API - Lista - Pergunta 1","type":"main","index":0}],[{"node":"Z-API - Botões Pergunta 3","type":"main","index":0}],[{"node":"Z-API - Botões Pergunta 4","type":"main","index":0}],[{"node":"Z-API - Botões Pergunta 5","type":"main","index":0}],[{"node":"Get many rows3","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"RabbitMQ1","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Get many rows1","type":"main","index":0}]]},"Z-API - Dados5":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Get many rows1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Z-API - Dados5","type":"main","index":0}]]},"Z-API - Dados2":{"main":[[{"node":"Update a row13","type":"main","index":0}]]},"If7":{"main":[[{"node":"Supabase5","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"Z-API - Dados1":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Z-API - Dados1","type":"main","index":0}],[{"node":"If7","type":"main","index":0}],[{"node":"Aprovado para Incubação1","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"If1","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Get many rows","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Identificador WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.tecvitoria.com.br","user-agent":"Mozilla/5.0 (Linux; Android 10; LM-Q720) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.5563.115 Mobile Safari/537.36","content-length":"756","content-type":"application/json","origin":"https://api.z-api.io","server":"Z-API","x-forwarded-for":"159.112.183.132","x-forwarded-host":"webhook.tecvitoria.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0caea1c95d30","x-real-ip":"159.112.183.132","z-api-token":"739DBE0A3929A921D34BED2D","accept-encoding":"gzip"},"params":{},"query":{},"body":{"isStatusReply":false,"chatLid":"196722538094652@lid","connectedPhone":"5527992549780","waitingMessage":false,"isEdit":false,"isGroup":false,"isNewsletter":false,"instanceId":"3E34B1796728001766CE728A74374CC1","messageId":"941D5D08E95DBFADA9628A3793A1C7BF","phone":"5511994774816","fromMe":false,"momment":1752092820000,"status":"RECEIVED","chatName":"André Luiz","senderPhoto":null,"senderName":"André Luiz","photo":"https://pps.whatsapp.net/v/t61.24694-24/475200150_1730935324152518_2884271197856761311_n.jpg?ccb=11-4&oh=01_Q5Aa1wHOFqIzx-mImTyIMhG5xkRZJuxCfvoopvXPzXwNqUskgA&oe=687BF459&_nc_sid=5e03e0&_nc_cat=105","broadcast":false,"participantLid":null,"forwarded":false,"type":"ReceivedCallback","fromApi":false,"text":{"message":"#apagarmemoria"}},"webhookUrl":"https://webhook.tecvitoria.com.br/webhook/incubadora","executionMode":"production"}}]},"versionId":"bd6f90fa-bb67-430c-963b-9e359201242b","triggerCount":1,"shared":[{"createdAt":"2025-07-03T16:16:50.482Z","updatedAt":"2025-07-03T16:16:50.482Z","role":"workflow:owner","workflowId":"zJFDmsyEWsbbtTcR","projectId":"bmuGqAprRmP37IQy"}],"tags":[]}