cadastro-incubados---z-api-copy-copy-oZI0o6madmOMCabA.json
{"createdAt":"2025-07-09T15:28:23.678Z","updatedAt":"2025-07-09T15:34:36.800Z","id":"oZI0o6madmOMCabA","name":"Cadastro Incubados - Z-API copy copy","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"incubadora","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3120,220],"id":"929327d9-2caa-4f49-914d-c22f7ec99c21","name":"Webhook","webhookId":"84cd0473-4cce-4b1f-ae0b-d9770e58233a"},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"={{ $json.body.phone || $json.body.chatLid }}","type":"string"},{"id":"user_id_unique","name":"user_id","value":"={{ $json.body.phone }}_{{ $json.body.instanceId }}_{{ $now }}","type":"string"},{"id":"session_id_unique","name":"session_id","value":"={{ $json.body.phone }}_{{ $json.body.messageId }}","type":"string"},{"id":"processing_lock","name":"processing_lock","value":"={{ $now }}","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.body.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.body.text?.message || $json.body.buttonsResponseMessage?.message || $json.body.listResponseMessage?.title || 'Mensagem não encontrada' }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.body.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.body.type }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"={{ $json.body.instanceId }}","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"89c694a3-3a94-4bf2-8d8d-016bafa3040e","name":"time_out","value":60,"type":"number"},{"id":"95eb2166-9205-4b79-ab5d-0c98fc3969ee","name":"botao_ponto","value":"={{ $json.body.buttonsResponseMessage.buttonId }}","type":"number"},{"id":"829f6ec4-b04d-42e9-826f-3243f254d29a","name":"botao_lista","value":"={{ $json.body.listResponseMessage.selectedRowId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2840,220],"id":"3eec4390-2973-4269-a9cc-b1a9881bab84","name":"Dados"},{"parameters":{"jsCode":"const userId = $('Dados').item.json.remoteJid;\nconst now = Date.now();\n\n// Verificar último acesso do usuário\nconst lastAccess = global.userAccess || {};\nconst userLastAccess = lastAccess[userId] || 0;\n\n// Rate limit: 1 requisição por segundo\nif (now - userLastAccess < 1000) {\n  throw new Error('Rate limit exceeded');\n}\n\n// Atualizar último acesso\nlastAccess[userId] = now;\nglobal.userAccess = lastAccess;\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2640,220],"id":"cdfd5edd-175a-4e01-86ec-b0fd47e7af55","name":"Rate Limiter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99592960-cd42-443a-bac6-484a28bd2612","leftValue":"={{ $json.conversation }}","rightValue":"#apagarmemoria","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2380,220],"id":"74d75fc0-10df-48fc-b1ea-cdcb2300837b","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97463018-7867-4ac1-a855-4c7eef322f10","leftValue":"={{ $node[\"Dados\"].json.conversation }}","rightValue":"#planilha","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2080,220],"id":"504d3072-c048-4e16-ad82-b7740efabda4","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea9512f2-e67c-4ef7-992f-893c75cfee8f","leftValue":"={{ $('Dados').item.json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1820,220],"id":"ade61381-42e2-4e47-a735-23568263623e","name":"If2"},{"parameters":{"operation":"getAll","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1620,220],"id":"b177dda3-20e7-4281-84ae-fe8eacb25a1e","name":"Get many rows","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"concurrency_check","leftValue":"={{ !$json.processing || ($now - $json.last_update) > 30000 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1420,220],"id":"f2e482ae-311e-4f93-a945-a3d7cd52ef7e","name":"Verificar Concorrência"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"processing","fieldValue":"=true"},{"fieldId":"last_update","fieldValue":"={{ $now }}"},{"fieldId":"id","fieldValue":"={{ $('Dados').item.json.session_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1220,220],"id":"de8c3287-b47a-4105-b8b0-b976c9d61fee","name":"Definir Estado de Processamento","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68051f94-f634-4e3d-a2d9-a18a9f57e071","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":5,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1020,220],"id":"2e956ed2-2563-495c-8aaa-0240766af43a","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e422f8-8f1b-432a-a828-fed6531c2492","leftValue":"={{ [\n  'Sim',\n  'Não',\n  'Sim, com dados organizados',\n  'Informalmente sem dados registrados',\n  'Ainda não realizei',\n  'Fiz informalmente, mas sem dados registrados',\n  '1',\n  '2',\n  '3',\n  '4',\n  '5'\n].includes(\n  ($('Dados').item.json.conversation || '').trim()\n) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-820,40],"id":"3218fb86-8a51-4144-aaba-6cd23dc7fe97","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Dados').item.json.conversation }}","rightValue":"Refazer","operator":{"type":"string","operation":"equals"},"id":"468f591d-149a-4345-ace8-22026944b274"}],"combinator":"and"},"renameOutput":true,"outputKey":"Refazer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb642314-8dd5-44ac-b9a0-8aa3c1f9f979","leftValue":"={{ !$('Dados').item.json.conversation.match(/\\b(Refazer|Manter o atual|[12345])\\b/i) }}","rightValue":"Manter o atual Refazer","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continua"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fec5448-f22f-44d8-9fdd-72cc9a136087","leftValue":"={{ $('Dados').item.json.conversation }}","rightValue":"Manter o atual","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Manter o atual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"214e9ccc-908e-4a93-9bc6-b61dfa258833","leftValue":"={{ [1, 2, 3, 4, 5].includes(+$('Dados').item.json.conversation) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Feedback"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-620,220],"id":"deab8e88-1440-4e3a-b1c3-e49cef6b8ac6","name":"Switch2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"07aec2b3-5af9-4d67-a3d5-53abf0a91525","leftValue":"={{ $json.Phone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"39a6ef91-8ad2-4859-9f3f-89d9ced25556","leftValue":"={{ $json.resultado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,500],"id":"f659e9fb-4438-4556-95ea-5f3cd3e98847","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0436fa2-867b-4a3e-b55d-c64182c4461d","leftValue":"={{ $json.Phone }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,320],"id":"b20ba836-8ea5-4325-9f43-e437c856b71d","name":"If8"},{"parameters":{"tableId":"qualification_results","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"=cadastro"},{"fieldId":"projeto","fieldValue":"=null"},{"fieldId":"email","fieldValue":"=null"},{"fieldId":"whatsapp","fieldValue":"=null"},{"fieldId":"pontuacao","fieldValue":"=0"},{"fieldId":"resultado","fieldValue":"="},{"fieldId":"status","fieldValue":"="},{"fieldId":"data_qualificacao","fieldValue":"={{ $now}}"},{"fieldId":"respostas_json","fieldValue":"="},{"fieldId":"Phone","fieldValue":"={{ $('Dados').item.json.remoteJid }}"},{"fieldId":"pergunta","fieldValue":"0"},{"fieldId":"processing","fieldValue":"=false"},{"fieldId":"last_update","fieldValue":"={{ $now }}"},{"fieldId":"session_id","fieldValue":"={{ $('Dados').item.json.session_id }}"},{"fieldId":"retry_count","fieldValue":"=0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[280,-280],"id":"a12435aa-321f-42ad-8d5e-bc3a80295ee1","name":"Create a row","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":0,"operator":{"type":"number","operation":"equals"},"id":"aa873065-b4b7-48a4-a533-a79029b4d5bb"}],"combinator":"and"},"renameOutput":true,"outputKey":"0"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c83499b-999c-45b9-ac78-354430cdf0be","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"493ae156-fcef-464e-aa1c-d240579656d9","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cabca592-ef9a-4b80-bb20-0bd93a6b9a04","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a607a0a-7f03-4ebf-8bc3-cbfd77a62992","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7eb37982-aad8-4e74-a169-bb65085064ce","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6cc9e17-8625-4590-930a-a4766fa0de23","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":6,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"6"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be8f5669-67b9-47e7-b1a8-36eae2cbdf38","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb15ec9e-6ebf-4ed5-917f-eaf2c918172f","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"8"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b8bc187-0322-4598-83af-3f7e705c2d2b","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":9,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"9"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9244af32-9643-46fe-a6fb-3d1374eceae4","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":10,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae6c0b86-0b7f-4b16-ab20-609c2758efb4","leftValue":"={{ $json.pergunta && !$json.processing }}","rightValue":11,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"11"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[260,20],"id":"9393f345-8509-4d49-b5d4-152352a34328","name":"Switch1"},{"parameters":{"jsCode":"try {\n  const userId = $('Dados').item.json.remoteJid;\n  const queue = global.processingQueue || {};\n  \n  // Se usuário já está na fila, aguardar\n  if (queue[userId]) {\n    const waitTime = Math.min(5000, Date.now() - queue[userId]);\n    await new Promise(resolve => setTimeout(resolve, waitTime));\n  }\n  \n  // Adicionar à fila\n  queue[userId] = Date.now();\n  global.processingQueue = queue;\n  \n  return items;\n} catch (error) {\n  console.error('Chatbot Error:', error);\n  \n  // Limpar estado de processamento\n  const errorMessage = {\n    phone: $('Dados').item.json.remoteJid,\n    message: \"Desculpe, ocorreu um erro temporário. Tente novamente em alguns instantes.\"\n  };\n  \n  return [{ json: errorMessage }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,20],"id":"aa6cd8da-b03f-4b6c-adeb-77f6e8f9d375","name":"Gerenciador de Fila"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"last_update","condition":"lt","keyValue":"={{ $now - 300000 }}"},{"keyName":"processing","condition":"eq","keyValue":"=true"}]},"fieldsUi":{"fieldValues":[{"fieldId":"processing","fieldValue":"=false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[660,20],"id":"9f44c2ef-92ba-454a-8b74-d6ec70828d48","name":"Cleanup de Sessões","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"jsCode":"const logEntry = {\n  timestamp: new Date().toISOString(),\n  userId: $('Dados').item.json.remoteJid,\n  action: 'user_interaction',\n  pergunta: $json.pergunta,\n  conversation: $('Dados').item.json.conversation,\n  processing_time: Date.now() - $('Dados').item.json.processing_lock\n};\n\n// Salvar no log\nconsole.log('CHATBOT_LOG:', JSON.stringify(logEntry));\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,20],"id":"23968349-2a70-4ef4-8f06-a3901ffe7580","name":"Logger de Atividade"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"processing","fieldValue":"=false"},{"fieldId":"last_update","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1060,20],"id":"77b477eb-a3f7-434b-8424-82837a802ae9","name":"Limpar Estado de Processamento","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Rate Limiter","type":"main","index":0}]]},"Rate Limiter":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Verificar Concorrência","type":"main","index":0}]]},"Verificar Concorrência":{"main":[[{"node":"Definir Estado de Processamento","type":"main","index":0}]]},"Definir Estado de Processamento":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"If5":{"main":[[],[{"node":"If8","type":"main","index":0}]]},"If8":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Gerenciador de Fila","type":"main","index":0}],[{"node":"Cleanup de Sessões","type":"main","index":0}]]},"Gerenciador de Fila":{"main":[[{"node":"Logger de Atividade","type":"main","index":0}]]},"Cleanup de Sessões":{"main":[[{"node":"Logger de Atividade","type":"main","index":0}]]},"Logger de Atividade":{"main":[[{"node":"Limpar Estado de Processamento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.tecvitoria.com.br","user-agent":"Mozilla/5.0 (iPad; CPU OS 13_2_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) FxiOS/111.0 Mobile/15E148 Safari/605.1.15","content-length":"746","content-type":"application/json","origin":"https://api.z-api.io","server":"Z-API","x-forwarded-for":"129.148.16.174","x-forwarded-host":"webhook.tecvitoria.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0caea1c95d30","x-real-ip":"129.148.16.174","z-api-token":"739DBE0A3929A921D34BED2D","accept-encoding":"gzip"},"params":{},"query":{},"body":{"isStatusReply":false,"chatLid":"196722538094652@lid","connectedPhone":"5527992549780","waitingMessage":false,"isEdit":false,"isGroup":false,"isNewsletter":false,"instanceId":"3E34B1796728001766CE728A74374CC1","messageId":"4A11C93D05D0B43E0BDE9B9F8A77B6BA","phone":"5511994774816","fromMe":false,"momment":1752074966000,"status":"RECEIVED","chatName":"André Luiz","senderPhoto":null,"senderName":"André Luiz","photo":"https://pps.whatsapp.net/v/t61.24694-24/475200150_1730935324152518_2884271197856761311_n.jpg?ccb=11-4&oh=01_Q5Aa1wGrixoDdMjg4I5gT3JU6fD13j69M9yFk3GXdE_Mm1tncw&oe=687B83D9&_nc_sid=5e03e0&_nc_cat=105","broadcast":false,"participantLid":null,"forwarded":false,"type":"ReceivedCallback","fromApi":false,"text":{"message":"Olá"}},"webhookUrl":"https://webhook.tecvitoria.com.br/webhook/incubadora","executionMode":"production"}}]},"versionId":"beef6812-d2df-416d-92d6-805699df51dc","triggerCount":1,"shared":[{"createdAt":"2025-07-09T15:28:23.678Z","updatedAt":"2025-07-09T15:28:23.678Z","role":"workflow:owner","workflowId":"oZI0o6madmOMCabA","projectId":"bmuGqAprRmP37IQy"}],"tags":[]}