cadastro-incubados---z-api-TYnvZJERnjeFwePh.json
{"createdAt":"2025-07-03T13:49:57.151Z","updatedAt":"2025-07-11T17:29:22.177Z","id":"TYnvZJERnjeFwePh","name":"Cadastro Incubados - Z-API","active":false,"isArchived":false,"nodes":[{"parameters":{"functionCode":"const inputData = $input.all()[0].json;\n\nconsole.log('Input data received:', JSON.stringify(inputData, null, 2));\n\n// Extract data from AI Agent\nlet dadosDoAgent = null;\n\nif (inputData.output && typeof inputData.output === 'object') {\n  dadosDoAgent = inputData.output;\n} else if (inputData.chatInput) {\n  dadosDoAgent = inputData.chatInput;\n} else if (inputData.message) {\n  dadosDoAgent = inputData.message;\n}\n\nconsole.log('Dados extraídos do agent:', JSON.stringify(dadosDoAgent, null, 2));\n\n// Initialize variables\nlet nome = '';\nlet projeto = '';\nlet email = '';\nlet whatsapp = '';\nlet respostas = {};\nlet pontuacao = 0;\nlet isComplete = false;\nlet perguntasMultiplaEscolha = [];\n\nif (dadosDoAgent) {\n  nome = dadosDoAgent.nome || '';\n  projeto = dadosDoAgent.projeto || '';\n  email = dadosDoAgent.email || '';\n  whatsapp = dadosDoAgent.whatsapp || '';\n  respostas = dadosDoAgent.respostas || {};\n\n  // NORMALIZAR VALORES BOOLEANOS - Converter sim/não para true/false internamente\n  if (respostas.modeloNegocio) {\n    respostas.modeloNegocio = normalizarBooleano(respostas.modeloNegocio);\n  }\n  if (respostas.tamSamSom) {\n    respostas.tamSamSom = normalizarBooleano(respostas.tamSamSom);\n  }\n  if (respostas.persona) {\n    respostas.persona = normalizarBooleano(respostas.persona);\n  }\n  if (respostas.pitch) {\n    respostas.pitch = normalizarBooleano(respostas.pitch);\n  }\n  if (respostas.programasAnteriores) {\n    respostas.programasAnteriores = normalizarBooleano(respostas.programasAnteriores);\n  }\n\n  // Separar pergunta e opções numeradas do texto da resposta\n  if (dadosDoAgent.resposta) {\n    // CORREÇÃO: Preservar quebras de linha no texto original\n    const textoOriginal = dadosDoAgent.resposta.trim();\n\n    // Regex para capturar opções numeradas, considerando quebras de linha\n    const regexOpcoes = /(?:\\(\\s*\\)\\s*)?(\\d\\s*-\\s*[^\\n\\r(]+)/g;\n    const opcoes = [];\n    let match;\n\n    while ((match = regexOpcoes.exec(textoOriginal)) !== null) {\n      const opcaoLimpa = match[1].trim();\n      opcoes.push(opcaoLimpa);\n    }\n\n    // Remove as opções do texto para extrair apenas a pergunta\n    // Mantém as quebras de linha na pergunta\n    let textoPergunta = textoOriginal.replace(regexOpcoes, '').trim();\n    \n    // Remove linhas vazias excessivas (mais de 2 quebras consecutivas)\n    textoPergunta = textoPergunta.replace(/\\n{3,}/g, '\\n\\n');\n\n    // CONVERSÃO DE QUEBRAS DE LINHA PARA Z-API\n    // Converte quebras reais para \\n literal que a Z-API aceita\n    textoPergunta = textoPergunta\n      .replace(/\\n/g, '\\\\n')        // Quebra real vira \\n literal\n      .replace(/\\r\\n/g, '\\\\n')      // Windows line break\n      .replace(/\\r/g, '\\\\n');       // Mac line break\n\n    if (opcoes.length > 0 && textoPergunta.length > 0) {\n      perguntasMultiplaEscolha.push({\n        pergunta: textoPergunta,\n        opcoes: opcoes\n      });\n    }\n  }\n\n  console.log('Dados processados:', {\n    nome, projeto, email, whatsapp, respostas\n  });\n\n  // Verificar se todos os campos obrigatórios foram preenchidos\n  const dadosCompletos = nome && projeto && email && whatsapp;\n\n  // Verificar se todas as respostas obrigatórias estão completas\n  const respostasCompletas = respostas && \n    (respostas.modeloNegocio === \"true\" || respostas.modeloNegocio === \"false\") &&\n    (respostas.tamSamSom === \"true\" || respostas.tamSamSom === \"false\") &&\n    ['dados_organizados', 'informal', 'nao_realizei'].includes(respostas.pesquisaQualitativa) &&\n    ['dados_organizados', 'informal', 'nao_realizei'].includes(respostas.concorrentes) &&\n    (respostas.persona === \"true\" || respostas.persona === \"false\") &&\n    (respostas.pitch === \"true\" || respostas.pitch === \"false\") &&\n    (respostas.programasAnteriores === \"true\" || respostas.programasAnteriores === \"false\");\n\n  console.log('Validação detalhada:', {\n    dadosCompletos,\n    respostasCompletas,\n    modeloNegocio: respostas.modeloNegocio,\n    tamSamSom: respostas.tamSamSom,\n    pesquisaQualitativa: respostas.pesquisaQualitativa,\n    concorrentes: respostas.concorrentes,\n    persona: respostas.persona,\n    pitch: respostas.pitch,\n    programasAnteriores: respostas.programasAnteriores,\n    nome, projeto, email, whatsapp\n  });\n\n  // Calcular pontuação\n  pontuacao = 0;\n  pontuacao += (respostas.modeloNegocio === \"true\") ? 1 : 0;\n  pontuacao += (respostas.tamSamSom === \"true\") ? 1 : 0;\n\n  if (respostas.pesquisaQualitativa === 'dados_organizados') {\n    pontuacao += 2;\n  } else if (respostas.pesquisaQualitativa === 'informal') {\n    pontuacao += 1;\n  }\n\n  if (respostas.concorrentes === 'dados_organizados') {\n    pontuacao += 2;\n  } else if (respostas.concorrentes === 'informal') {\n    pontuacao += 1;\n  }\n\n  pontuacao += (respostas.persona === \"true\") ? 1 : 0;\n  pontuacao += (respostas.pitch === \"true\") ? 1 : 0;\n\n  pontuacao = parseInt(pontuacao) || 0;\n\n  console.log('Pontuação calculada:', pontuacao);\n\n  if (dadosCompletos && respostasCompletas) {\n    isComplete = true;\n  }\n}\n\n// Definir resultado com base na pontuação\nlet resultado = '';\nlet status = '';\n\nif (isComplete) {\n  if (pontuacao === 8) {\n    resultado = 'Aprovado para Incubação';\n    status = 'aprovado_incubacao';\n  } else if (pontuacao >= 4 && pontuacao <= 7) {\n    resultado = 'Trilha Avançada';\n    status = 'trilha_avancada';\n  } else {\n    resultado = 'Trilha Inicial';\n    status = 'trilha_inicial';\n  }\n}\n\n// Função para normalizar valores booleanos (entrada: sim/não/true/false -> interno: true/false)\nfunction normalizarBooleano(valor) {\n  if (valor === \"sim\" || valor === \"true\" || valor === true) {\n    return \"true\";\n  } else if (valor === \"não\" || valor === \"false\" || valor === false) {\n    return \"false\";\n  }\n  return valor; // Retorna o valor original se não for um valor booleano reconhecido\n}\n\n// Função para converter valores internos para saída (true/false -> sim/não)\nfunction convertToSimNao(valor) {\n  if (valor === \"true\" || valor === true) {\n    return \"sim\";\n  } else if (valor === \"false\" || valor === false) {\n    return \"não\";\n  }\n  return valor; // Retorna o valor original se não for true/false\n}\n\n// Preparar saída - CORREÇÃO: Converter para sim/não nas perguntas 1,2,5,6,7\nconst respostasOutput = {\n  modeloNegocio: convertToSimNao(respostas.modeloNegocio),           // Pergunta 1\n  tamSamSom: convertToSimNao(respostas.tamSamSom),                   // Pergunta 2\n  pesquisaQualitativa: respostas.pesquisaQualitativa,               // Pergunta 3 (mantém original)\n  concorrentes: respostas.concorrentes,                             // Pergunta 4 (mantém original)\n  persona: convertToSimNao(respostas.persona),                      // Pergunta 5\n  pitch: convertToSimNao(respostas.pitch),                          // Pergunta 6\n  programasAnteriores: convertToSimNao(respostas.programasAnteriores) // Pergunta 7\n};\n\nconst output = {\n  nome: nome,\n  projeto: projeto,\n  email: email,\n  whatsapp: whatsapp,\n  pontuacao: Number(pontuacao),\n  resultado: resultado,\n  status: status,\n  respostas: respostasOutput,\n  perguntasMultiplaEscolha,\n  timestamp: new Date().toISOString(),\n  output: isComplete ? 'concluido' : 'em_andamento',\n  isComplete: isComplete,\n  dadosOriginais: dadosDoAgent\n};\n\nconsole.log('Output final:', JSON.stringify(output, null, 2));\n\nreturn { json: output };"},"id":"0639fe44-ece4-45ee-ad86-3554c2ca1c1c","name":"Process Qualification Data","type":"n8n-nodes-base.function","typeVersion":1,"position":[3120,980]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"qualification_complete","leftValue":"={{ $('Process Qualification Data').item.json.output }}","rightValue":"concluido","operator":{"type":"string","operation":"equals"}},{"id":"c1f77d0d-f7d5-47e3-a6d6-fd15a6c9b142","leftValue":"={{ $('Process Qualification Data').item.json.isComplete }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"2e6bccd2-636b-4efb-ae1a-813cb53e7415","leftValue":"={{ $('Process Qualification Data').item.json.nome }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"92582580-674b-4108-b21a-45323fa8aaa0","leftValue":"={{ $('Process Qualification Data').item.json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9afeec41-e620-4c4d-b154-a0897f023f7a","name":"Check Completion Status","type":"n8n-nodes-base.if","typeVersion":2,"position":[3980,1040]},{"parameters":{"promptType":"define","text":"={{ $('Dados').item.json.conversation }}","hasOutputParser":true,"options":{"systemMessage":"=```\nData e horário atual: {{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n\nVocê é um assistente da TecVitória - primeira incubadora de empresas de base tecnológica do Espírito Santo.\n\nENTRADA DO USUÁRIO: {{ $('Dados').item.json.conversation }}\n\nOBJETIVO: Conduzir questionário de qualificação para interessados na incubação. Você deve processar APENAS a mensagem atual do usuário e responder adequadamente.\n\nFLUXO:\n1. Colete dados pessoais: nome completo, projeto, email, whatsapp, usando EXATAMENTE as perguntas abaixo a partir da segunda execução:\n    - \\n\\n🚀 *Agora, por favor, informe o nome do seu projeto ou ideia inovadora*:\n    - \\n\\n📧 *Informe seu e-mail para contato*:\\n\\n(Exemplo: email@valido.com):\n    - \\n\\n📱 *Agora, informe seu número de WhatsApp (com DDD e sem espaços)*:\\n\\n(Exemplo: 5511999999999):\n\nATENÇÃO: SOMENTE NESSE PASSO 1 de coleta de informações, responda educadamente e com frases curtas a última resposta de cada pergunta. \n2. Faça 7 perguntas com opções numeradas para o usuário escolher, descritas abaixo em PERGUNTAS EXATAS COM OPÇÕES. Faça as perguntas EXATAMENTE como descrito, não altere nada o texto. ATENÇÃO: É PROIBIDO RESPONDER AS RESPOSTAS DO USUÁRIO, SOMENTE FAÇA AS PERGUNTAS.\n3. Para pesquisa qualitativa e mapeamento de concorrentes, há 3 opções\n4. Para outras perguntas, há 2 opções (Sim/Não)\n5. Usuário deve responder com o número da opção escolhida\n\nREGRAS CRÍTICAS:\n- RESPONDA APENAS À ENTRADA ATUAL DO USUÁRIO\n- NUNCA invente ou simule respostas do usuário\n- NUNCA pule etapas ou responda perguntas que o usuário não fez\n- Uma pergunta por vez\n- Sempre exiba as opções numeradas exatamente como especificado\n- ESPERE a resposta do usuário antes de prosseguir\n- Valide email (formato email@valido.com) e whatsapp (formato 5511999999999)\n- Seja acolhedor e profissional\n- Sempre retorne APENAS um objeto JSON válido\n\n\n\nPERGUNTAS EXATAS COM OPÇÕES:\n\n1) \"📌 *Você já elaborou o Modelo de Negócio da sua ideia/projeto?*\\n\\n_O Modelo de Negócio é uma ferramenta que ajuda a estruturar de maneira objetiva e simples as principais áreas do seu projeto._\\n\\n( ) 1 - Sim( ) 2 - Não\"\n\n2) \"📊 *Você já analisou o tamanho de mercado do seu modelo de negócios e entendeu como vai gerar receitas?*\\n\\n _Essas métricas ajudam a estimar o potencial de alcance da sua solução._\\n\\n ( ) 1 - Sim\\n( ) 2 - Não\"\n\n3) \"🧪 *Você já realizou uma pesquisa qualitativa com potenciais clientes validando a dor que sua solução resolve?*\\n\\n_Aqui consideramos entrevistas, formulários ou qualquer forma de coleta estruturada, com dados organizados._\\n\\n( ) 1 - Sim, com dados organizados\\n( ) 2 - Informalmente sem dados registrados\\n( ) 3 - Ainda não realizei\"\n\n4) \"🕵️‍♂️ *Você já mapeou os principais concorrentes e o diferencial que sua solução tem?*\\n\\n_Ter o mapeamento de concorrentes e o comparativo em relação ao que tenho como diferencial deixa mais claro a proposta de valor para o mercado._\\n\\n( ) 1 - Sim, com dados organizados\\n( ) 2 - Fiz informalmente, mas sem dados registrados\\n( ) 3 - Ainda não realizei\"\n\n5) \"🧠 *Você já estruturou a persona da sua solução?*\\n\\n_A persona é uma representação do cliente ideal e deixa claro quais os diferenciais que ele tem, além de ter mapeadas as dores e necessidades, facilitando a compreensão do diferencial e a criação de soluções mais eficazes._\\n\\n( ) 1 - Sim\\n( ) 2 - Não\"\n\n6) \"🎤 *Você já possui uma apresentação da sua solução?*\\n\\n_A apresentação da sua solução tem mapeado problemas ou necessidades, dor que você resolve, diferenciais competitivos, tamanho do mercado?_\\n\\n( ) 1 - Sim, já tenho esse pitch pronto e posso enviar\\n( ) 2 - Ainda não\"\n\n7) \"📚 *Você já participou de algum outro programa ou trilha de desenvolvimento de projetos de inovação?*\\n\\n_Podem ser trilhas de incubação, pré-aceleração, aceleração ou alguma outra capacitação, treinamento ou mentoria relacionada ao desenvolvimento de projetos de inovação ou startups._\\n\\n( ) 1 - Sim\\n( ) 2 - Ainda não\"\n\nMAPEAMENTO DE RESPOSTAS:\n- Perguntas 1, 2, 5: 1=\"true\", 2=\"false\"\n- Pergunta 3: 1=\"dados_organizados\", 2=\"informal\", 3=\"nao_realizei\"\n- Pergunta 4: 1=\"dados_organizados\", 2=\"informal\", 3=\"nao_realizei\"\n- Pergunta 6: 1=\"true\", 2=\"false\"\n- Pergunta 7: 1=\"true\", 2=\"false\"\n\nPONTUAÇÃO (calculada externamente):\n- Modelo de Negócio: 1 ponto\n- TAM/SAM/SOM: 1 ponto  \n- Pesquisa qualitativa: \"dados_organizados\" = 2 pontos, \"informal\" = 1 ponto, \"nao_realizei\" = 0 pontos\n- Mapeamento concorrentes: \"dados_organizados\" = 2 pontos, \"informal\" = 1 ponto, \"nao_realizei\" = 0 pontos\n- Persona: 1 ponto\n- Pitch: 1 ponto\n- Programas anteriores: não pontua\n- TOTAL MÁXIMO: 8 pontos\n\nFORMATO DE SAÍDA:\n{\n  \"resposta\": \"Mensagem de resposta com quebras de linha usando \\\\n\",\n  \"nome\": \"Nome coletado ou string vazia\",\n  \"projeto\": \"Projeto coletado ou string vazia\", \n  \"email\": \"Email coletado ou string vazia\",\n  \"whatsapp\": \"WhatsApp coletado ou string vazia\",\n  \"respostas\": {\n    \"modeloNegocio\": \"\",\n    \"tamSamSom\": \"\",\n    \"pesquisaQualitativa\": \"\",\n    \"concorrentes\": \"\",\n    \"persona\": \"\",\n    \"pitch\": \"\",\n    \"programasAnteriores\": \"\"\n  }\n}\n\nPRIMEIRA EXECUÇÃO:\nSe esta for a primeira interação, retorne:\n{\n  \"resposta\": \"👋 Olá! Seja bem-vindo(a) à TecVitória!\\n\\nSomos a primeira incubadora de empresas de base tecnológica do Espírito Santo!\\n\\nNosso propósito é apoiar empreendedores como você a transformar ideias inovadoras em negócios sustentáveis e competitivos no mercado.\\n\\nPara entender se este é o momento ideal para você ser incubado ou se ainda vale investir na estruturação da sua ideia, vamos fazer algumas perguntas rápidas.\\n\\n🧭 Ao final, vamos te direcionar para o melhor caminho.\\n\\n✍ *Primeiro, informe seu nome completo:* \",\n  \"nome\": \"\",\n  \"projeto\": \"\",\n  \"email\": \"\",\n  \"whatsapp\": \"\",\n  \"respostas\": {\n    \"modeloNegocio\": \"\",\n    \"tamSamSom\": \"\",\n    \"pesquisaQualitativa\": \"\",\n    \"concorrentes\": \"\",\n    \"persona\": \"\",\n    \"pitch\": \"\",\n    \"programasAnteriores\": \"\"\n  }\n}\n\nIMPORTANTE: \n- Processe SOMENTE a entrada atual do usuário\n- NÃO invente conversas ou respostas\n- NÃO pule etapas do processo\n- AGUARDE cada resposta antes de continuar\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2760,960],"id":"1c56c360-0c5a-4793-8069-2e32a6aa31e3","name":"AI Agent - TecVitória Qualification1","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8f9168e-b0ef-4f26-ad3d-34c35e8937c0","leftValue":"={{ $json.pontuacao }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3300,980],"id":"d4a1d8c8-997b-4342-b5d2-50cb4ff3470a","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"084197cb-13c7-4a0b-856e-ae31242120d4","leftValue":"={{ $json.pontuacao }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3540,1100],"id":"ba5ef158-68be-4a6e-824d-556380880a5b","name":"If1"},{"parameters":{"jsonSchemaExample":"{\n  \"resposta\": \"Mensagem de resposta ou próxima pergunta\",\n  \"nome\": \"Nome coletado ou vazio\",\n  \"projeto\": \"Projeto coletado ou vazio\",\n  \"email\": \"Email coletado ou vazio\",\n  \"whatsapp\": \"WhatsApp coletado ou vazio\",\n  \"respostas\": {\n    \"modeloNegocio\": \"\",\n    \"tamSamSom\": \"\",\n    \"pesquisaQualitativa\": \"\",\n    \"concorrentes\": \"\",\n    \"persona\": \"\",\n    \"pitch\": \"\",\n    \"programasAnteriores\": \"\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3080,1300],"id":"035f14c0-95b9-4c8b-b896-aa9c66b5ffc6","name":"Structured Output Parser"},{"parameters":{"jsCode":"// Garante que só o primeiro item seja retornado como array com 1 item\nreturn [ { json: items[0].json } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4580,800],"id":"19e9dbd7-0c93-40ce-92d2-506e5d1400cb","name":"Code","disabled":true},{"parameters":{"jsCode":"// Garante que só o primeiro item seja retornado como array com 1 item\nreturn [ { json: items[0].json } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4580,1020],"id":"1e975f3d-2c5e-4af2-9cf1-62dea4faf234","name":"Code1","disabled":true},{"parameters":{"jsCode":"// Garante que só o primeiro item seja retornado como array com 1 item\nreturn [ { json: items[0].json } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4580,1260],"id":"3d26d139-5d21-4960-a06f-ec00d1e86594","name":"Code2","disabled":true},{"parameters":{"jsCode":"// Garante que só o primeiro item seja retornado como array com 1 item\nreturn [ { json: items[0].json } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4280,1620],"id":"13cb76d5-49dd-4453-b9c0-35f86dca7839","name":"Code3"},{"parameters":{"jsCode":"// Garante que só o primeiro item seja retornado como array com 1 item\nreturn [ { json: items[0].json } ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,720],"id":"474e8c9e-1e99-4e72-ada3-0dbc863342b9","name":"Code4","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Process Qualification Data').item.json.status }}","rightValue":"aprovado_incubacao","operator":{"type":"string","operation":"equals"},"id":"8a842253-023e-4ec6-b02b-e6636c8bb871"}],"combinator":"and"},"renameOutput":true,"outputKey":"Incubação"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40c9068e-6f64-44e4-ab47-53c346a9daf1","leftValue":"={{ $('Process Qualification Data').item.json.status }}","rightValue":"trilha_avancada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avançada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adf4ac5c-bdae-490f-9775-c1da05e11cf0","leftValue":"={{ $('Process Qualification Data').item.json.status }}","rightValue":"trilha_inicial","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Inicial"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4240,1020],"id":"ccb3457e-c189-4f09-b6f9-99c426a6c43a","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"dcddc350-6002-4f96-997d-90f714bedbcf","leftValue":"={{ $json.perguntasMultiplaEscolha[0].opcoes }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3700,520],"id":"8a7c5240-8579-4a27-ad29-a83f99022410","name":"If3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1940,1520],"id":"f9863d5c-546b-46fa-8f89-a43ec74219f4","name":"When chat message received","webhookId":"10d5b71e-f8ca-43f1-9a78-884e82bf6dae"},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"=5511994774816","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.body.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"=Assistente Naweb","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"89c694a3-3a94-4bf2-8d8d-016bafa3040e","name":"time_out","value":60,"type":"number"},{"id":"95eb2166-9205-4b79-ab5d-0c98fc3969ee","name":"client","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2420,1520],"id":"f3b907b9-5e51-412f-bdc2-defb530102b6","name":"Dados1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9eb6b97d-d4fa-4259-876b-39e38ce58768","leftValue":"={{ $json.chatInput }}","rightValue":"=#apagarmemoria","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2160,1520],"id":"59fc2131-eebe-465b-bc54-9e3781519d5f","name":"If6"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Análise concluída!\n\nParabéns! 🎉 \n\nVocê já possui todos os requisitos que analisamos para o processo de incubação da TecVitória. Isso mostra que sua ideia passou por etapas fundamentais de estruturação e validação no mercado, o que aumenta muito as chances de sucesso na jornada empreendedora.\nNosso time está pronto para te acompanhar no próximo passo.\n\n👉 Inscreva-se agora no nosso edital de fluxo contínuo de incubação pelo site."},{"name":"image","value":"https://tecvitoria.com.br/wp-content/uploads/2025/06/incubacao-1.jpg"},{"name":"linkUrl","value":"https://incubacao.tecvitoria.com.br/"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Inscreva-se na Incubação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4820,800],"id":"70b095bd-0426-468b-bf28-a357135be80d","name":"Aprovado para Incubação","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Análise concluída!\n\nVocê já avançou bastante na estruturação do seu projeto – isso é excelente! 🎯\n\nNo entanto, ainda há pontos importantes a desenvolver para garantir uma análise mais robusta no processo de incubação.\n\n👉 Recomendamos que você participe da nossa Trilha da Inovação, uma jornada 100% online e gratuita que vai te apoiar no preenchimento dessas lacunas com conteúdos práticos e direcionados.\nVocê receberá acesso à nossa plataforma Startec, onde poderá se cadastrar e acessar os conteúdos necessários para estruturar melhor a sua ideia.\n\nDurante a trilha, você também terá reuniões com o nosso time de incubação, que irá acompanhar de perto sua evolução.\n\nClique para começar a trilha, informe o voucher “TRILHAINOVA”:\n"},{"name":"image","value":"https://tecvitoria.com.br/wp-content/uploads/2025/06/Startec.jpg"},{"name":"linkUrl","value":"https://startec.tecvitoria.com.br/convite/trilha-da-inovacao-boot/01jyhmjhc9f3gynqd71pp956fv"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Inscreva-se na Startec"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4820,1020],"id":"efbb367b-0fd3-42ca-b2f6-fb4f3071d82b","name":"Aprovado para Startec","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Análise concluída!\n\nSeu projeto está em uma fase inicial – e isso é totalmente normal. A inovação começa com uma boa ideia, mas precisa de organização e validação para gerar impacto real.\n\nO melhor caminho agora é participar da nossa Trilha da Inovação – um programa online e gratuito que vai te ensinar a aplicar ferramentas como Lean Canvas, mapa de empatia, pesquisa com clientes e construção de pitch.\n\n👉 Acesse agora o site e se cadastre: \n"},{"name":"image","value":"https://tecvitoria.com.br/wp-content/uploads/2025/06/logo-trilha-inovacao-tecvitoria.jpg"},{"name":"linkUrl","value":"https://trilhadainovacao.tecvitoria.com.br/"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Acesse a Trilha da Inovação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4840,1260],"id":"7c636b05-dd8c-4797-a501-5fa5e28b0292","name":"Inscrição Trilha da Inovação","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"content":"RESPOSTAS FINAIS Z-API","height":740,"width":1520,"color":5},"type":"n8n-nodes-base.stickyNote","position":[4200,740],"typeVersion":1,"id":"f2832012-3038-4d86-8a78-0fa7843bbfaa","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d5427626-a354-43ed-8ac1-0fc43011634b","leftValue":"={{ $('Process Qualification Data').first().json.dadosOriginais.resposta }}","rightValue":"=realizou uma pesquisa qualitativa","operator":{"type":"string","operation":"contains"}},{"id":"dfbf4d37-8fa4-486e-b4a6-f1058e1148c2","leftValue":"={{ $('Process Qualification Data').first().json.dadosOriginais.resposta }}","rightValue":"mapeou os principais concorrentes","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4500,1620],"id":"90e97e46-dc24-43bf-9f7e-61e7443e0e3a","name":"Pergunta 3?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78924e4f-69de-43db-89b7-c6ae366afe99","leftValue":"={{ $('Process Qualification Data').first().json.dadosOriginais.resposta }}","rightValue":"sua solução tem mapeado problemas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4640,1880],"id":"fbd13e5c-1f04-4e25-92e0-46c5fadb6775","name":"Pergunta 4?"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"={{ $('AI Agent - TecVitória Qualification1').first().json.output.resposta }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3960,440],"id":"0845df45-b132-4134-a10d-c3a88c56036c","name":"Z-API - Dados","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-option-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').first().json.remoteJid }}\",\n  \"message\": \"{{ $('Process Qualification Data').first().json.perguntasMultiplaEscolha[0].pergunta }}\",\n  \"optionList\": {\n    \"buttonLabel\": \"Opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"{{ $('Process Qualification Data').first().json.perguntasMultiplaEscolha[0].opcoes[0].replace(/^\\d+\\s*[-–]?\\s*/g, '').trim() }}\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"{{ $('Process Qualification Data').first().json.perguntasMultiplaEscolha[0].opcoes[1].replace(/^\\d+\\s*[-–]?\\s*/g, '').trim() }}\"\n      },\n     {\n        \"id\": \"3\",\n        \"title\": \"{{ $('Process Qualification Data').first().json.perguntasMultiplaEscolha[0].opcoes[2].replace(/^\\d+\\s*[-–]?\\s*/g, '').trim() }}\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4840,1580],"id":"a00ec7e3-d23d-4528-9773-36d7e46e9b3d","name":"Z-API - Lista - Pergunta 3","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-button-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').item.json.remoteJid }}\",\n  \"message\": \"{{ $('Process Qualification Data').item.json.perguntasMultiplaEscolha[0].pergunta }}\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"{{ $('Process Qualification Data').item.json.perguntasMultiplaEscolha[0].opcoes[0].replace(/^\\d+\\s*[-–]?\\s*/g, '') }}\"\n      },\n      {\n        \"id\": \"2\",\n        \"label\": \"{{ $('Process Qualification Data').item.json.perguntasMultiplaEscolha[0].opcoes[1].replace(/^\\d+\\s*[-–]?\\s*/g, '') }}\"\n      }\n\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3980,700],"id":"e3d83f9e-c04c-4d45-b93d-bb83c542c4be","name":"Z-API - Botões Pergunta 1","retryOnFail":true,"maxTries":5,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-button-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').first().json.remoteJid }}\",\n  \"message\": \"{{ $('Process Qualification Data').first().json.perguntasMultiplaEscolha[0].pergunta }}\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"{{ $('Process Qualification Data').first().json.perguntasMultiplaEscolha[0].opcoes[0].replace(/^\\d+\\s*[-–]?\\s*/g, '') }}\"\n      },\n      {\n        \"id\": \"2\",\n        \"label\": \"{{ $('Process Qualification Data').first().json.perguntasMultiplaEscolha[0].opcoes[1].replace(/^\\d+\\s*[-–]?\\s*/g, '') }}\"\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4840,2000],"id":"72c5492d-8d7a-45ed-bf67-06b6b6486bc3","name":"Z-API - Botões Perguntas 2, 5, 6, 7","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-option-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').first().json.remoteJid }}\",\n  \"message\": \"{{ $('Process Qualification Data').first().json.perguntasMultiplaEscolha[0].pergunta }}\",\n  \"optionList\": {\n    \"buttonLabel\": \"Opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"Sim, tenho o pitch e posso enviar \"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"Ainda não\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4840,1780],"id":"45a4089e-2744-42c8-b357-42c3680f3056","name":"Z-API Lista Pergunta 4","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"ENTRADA DE DADOS","height":480,"width":840,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-360,900],"typeVersion":1,"id":"5195597c-edb5-408f-be34-8741d4b92571","name":"Sticky Note1"},{"parameters":{"content":"AGENTE PROCESSADOR DE PERGUNTAS","height":580,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2620,900],"typeVersion":1,"id":"e2d5b41c-d0d3-400b-9df5-cc2f023c748c","name":"Sticky Note2"},{"parameters":{"content":"PERGUNTAS DE QUALIFICAÇÃO","height":660,"width":840,"color":5},"type":"n8n-nodes-base.stickyNote","position":[4200,1540],"typeVersion":1,"id":"c4a7d5ab-8af0-49dd-ad82-3fecf3cddf43","name":"Sticky Note3"},{"parameters":{"content":"BANCO DE DADOS","height":580,"width":680,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3480,900],"typeVersion":1,"id":"87445def-7aa0-4c03-82af-f42fcf085a95","name":"Sticky Note4"},{"parameters":{"content":"IDENTIFICAÇÃO","height":440,"width":680,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3480,400],"typeVersion":1,"id":"6a34cc2d-8255-4c03-9d05-1a3cd3b87f60","name":"Sticky Note5"},{"parameters":{"content":"TESTES","height":300,"width":760},"type":"n8n-nodes-base.stickyNote","position":[1840,1420],"typeVersion":1,"id":"01d55dc9-353e-4d7a-94ec-cb35c65ac7cc","name":"Sticky Note6"},{"parameters":{"content":"VERIFICAR CADASTRO","height":500,"width":760,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1840,900],"typeVersion":1,"id":"ffa0cbfa-1328-4a97-b1e9-b4fcba48d808","name":"Sticky Note7"},{"parameters":{"operation":"get","tableId":"qualification_results","filters":{"conditions":[{"keyName":"whatsapp","keyValue":"={{ $json.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2120,1220],"id":"a61cdff6-c0b7-4e8a-900b-86cfb44fa23e","name":"Supabase6","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea9512f2-e67c-4ef7-992f-893c75cfee8f","leftValue":"={{ $json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2360,1220],"id":"9fe45d06-5602-4679-97cb-804140ce9a6b","name":"If2"},{"parameters":{"operation":"getAll","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[140,1040],"id":"0a12a685-ef88-4120-9649-0af5b5d76bf9","name":"Get many rows","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"07aec2b3-5af9-4d67-a3d5-53abf0a91525","leftValue":"={{ $json.Phone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"39a6ef91-8ad2-4859-9f3f-89d9ced25556","leftValue":"={{ $json.resultado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1900,1100],"id":"dbfdb258-79d1-42e3-bbd0-3d3766c7dee7","name":"If5"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').item.json.remoteJid }}\",\n  \"message\": \"{{ $json.nome }}, verificamos que seu WhatsApp já tem um cadastro aqui. Você deseja refazer o questionário?\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"1\",\n        \"label\": \"Refazer\"\n      },\n      {\n        \"id\": \"2\",\n        \"label\": \"Manter o atual\"\n      }\n\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,940],"id":"baaba97f-3ec4-47fd-852f-ec29132eef67","name":"Recomeçar","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Dados').item.json.conversation }}","rightValue":"Refazer","operator":{"type":"string","operation":"equals"},"id":"468f591d-149a-4345-ace8-22026944b274"}],"combinator":"and"},"renameOutput":true,"outputKey":"Refazer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb642314-8dd5-44ac-b9a0-8aa3c1f9f979","leftValue":"={{ !$('Dados').item.json.conversation.match(/\\b(Refazer|Manter o atual|[12345])\\b/i) }}","rightValue":"Manter o atual Refazer","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continua"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fec5448-f22f-44d8-9fdd-72cc9a136087","leftValue":"={{ $('Dados').item.json.conversation }}","rightValue":"Manter o atual","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Manter o atual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"214e9ccc-908e-4a93-9bc6-b61dfa258833","leftValue":"={{ [1, 2, 3, 4, 5].includes(+$('Dados').item.json.conversation) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Feedback"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,1020],"id":"0a2eb532-196e-4ffc-8789-8b85a43ee656","name":"Switch2"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Perfeito {{ $json.nome }}!\nRelembrando, você foi {{ $json.resultado.toLowerCase() }}.\n\nClique no link abaixo, caso não tenha feito."},{"name":"image","value":"={{    $json.resultado.toLowerCase().trim() === 'aprovado para incubação'     ? 'https://tecvitoria.com.br/wp-content/uploads/2025/06/incubacao-1.jpg'     : $json.resultado.toLowerCase().trim() === 'trilha avançada'       ? 'https://tecvitoria.com.br/wp-content/uploads/2025/06/Startec.jpg'       : $json.resultado.toLowerCase().trim() === 'trilha inicial'         ? 'https://tecvitoria.com.br/wp-content/uploads/2025/06/logo-trilha-inovacao-tecvitoria.jpg'         : '' }}"},{"name":"linkUrl","value":"={{ \n  $json.resultado === 'Aprovado para Incubação' \n    ? 'https://incubacao.tecvitoria.com.br/' \n    : $json.resultado === 'Trilha Avançada' \n      ? 'https://startec.tecvitoria.com.br/convite/trilha-da-inovacao-boot/01jyhmjhc9f3gynqd71pp956fv' \n      : $json.resultado === 'Trilha Inicial' \n        ? 'https://trilhadainovacao.tecvitoria.com.br/' \n        : ''\n}}"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Inscreva-se na Incubação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,1220],"id":"d1d5c748-cf57-45db-957f-26a0c8fdcf76","name":"Aprovado para Incubação1","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=Perfeito {{ $json.nome }}, após essa mensagem, seu questionário será reiniciado"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,480],"id":"14457603-a98a-423a-8fbd-dc06644eba62","name":"Z-API - Dados1","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"operation":"delete","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1640,480],"id":"f56f42fd-3499-4183-88d0-4c6541041f1a","name":"Supabase4","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"9eb6b97d-d4fa-4259-876b-39e38ce58768","leftValue":"={{ $(\"Dados\").item.json.conversation }}","rightValue":"=#apagarmemoria","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,1000],"id":"d56c9549-33f4-4707-8ebd-3ff68ee3d594","name":"If7"},{"parameters":{"operation":"delete","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $('Dados').item.json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,680],"id":"69f0574a-50ad-459d-b935-e7aee6b1363e","name":"Supabase5","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=OBJETIVO\nVocê está recebendo essa pontuação {{ $('Dados').item.json.conversation }} que pode ir de 1 a 5.\n\nBaseando-se nela, quero que você responda EXATAMENTE com as mensagens abaixo, de acordo com a pontuação a seguinte:\n\nAÇÃO:\n\nSE {{ $('Dados').item.json.conversation }} estiver entre 1 e 3, responda: 😞 Puxa, que pena {{ $json.nome }}, deixe opinião para que possamos melhorar o atendimento! Obrigado!\n\nSE {{ $('Dados').item.json.conversation }} estiver entre 4 e 5, responda: 🥳 Que ótimo {{ $json.nome }}! Ficamos felizes em saber que ajudamos!\n\nObrigado!\n\nATENÇÃO:\nForneça apenas UMA RESPOSTA, sem explicação nem nada, somente a resposta.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1120,1480],"id":"675ceebc-4329-4326-9332-0df9e2b4fa17","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1080,1680],"id":"774bd7cd-eb4d-4470-a874-70172b176ca9","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"uu3Gb39bRtnzP2bu","name":"OpenAI Andre"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-option-list","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Dados').first().json.remoteJid }}\",\n  \"message\": \"Antes de finalizar, gostaria de saber a sua opinião sobre a nossa conversa:\\n\\nDe 1 a 5, qual nota você acha que meu *atendimento* pelo *WhatsApp* merece?\\n\\n1 🟥🟥🟧🟨🟩 5\",\n  \"optionList\": {\n    \"buttonLabel\": \"Opções\",\n    \"options\": [\n      {\n        \"id\": \"1\",\n        \"title\": \"1\"\n      },\n      {\n        \"id\": \"2\",\n        \"title\": \"2\"\n      },\n{\n        \"id\": \"3\",\n        \"title\": \"3\"\n      },\n{\n        \"id\": \"4\",\n        \"title\": \"4\"\n      },\n     {\n        \"id\": \"5\",\n        \"title\": \"5\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5260,1020],"id":"2a688110-e77a-4dd0-a505-ca4de0b98a2e","name":"Feedback","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,1540],"id":"e42e6a23-dcdb-42d7-b841-79506c4a8d28","name":"Z-API - Dados2","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"content":"Feedback\n","height":400,"width":780},"type":"n8n-nodes-base.stickyNote","position":[1020,1420],"typeVersion":1,"id":"a7582c93-acd3-494b-af74-941e351f8354","name":"Sticky Note8"},{"parameters":{"content":"APAGAR MEMÓRIA","height":480,"width":720},"type":"n8n-nodes-base.stickyNote","position":[1100,400],"typeVersion":1,"id":"12193381-d0d6-4785-ae8c-8a0028ee57bd","name":"Sticky Note9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97463018-7867-4ac1-a855-4c7eef322f10","leftValue":"={{ $node[\"Dados\"].json.conversation }}","rightValue":"#planilha","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,1040],"id":"811c806b-8ad3-45a1-a065-157f3a02eb5d","name":"If4"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-link","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').first().json.remoteJid }}"},{"name":"message","value":"=Segue link da planilha com dados dos candidatos a incubação"},{"name":"image","value":"https://tecvitoria.com.br/wp-content/uploads/2025/05/logo-tecvitoria-thumbnail.png"},{"name":"linkUrl","value":"=https://docs.google.com/spreadsheets/d/1V_CEvZEAYuto1iv-7GGf_Lj35JVBeINCQf-vkQluznY/edit?pli=1&gid=0#gid=0"},{"name":"title","value":"Tecvitoria"},{"name":"linkDescription","value":"Inscreva-se na Incubação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,560],"id":"6636be3e-b696-4933-8225-5dbe9c1d8246","name":"Planilha","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').first().json.remoteJid }}","tableName":"conversas_candidatos_incubacao","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2820,1300],"id":"ea275be3-c606-4e10-bf64-afedd1d35701","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"QZR6jt2yEz1JBvqt","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conversas_candidatos_incubacao","mode":"name"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1420,480],"id":"e2d77a26-2638-4057-ad8e-66b511aa5fbe","name":"Delete table or rows","credentials":{"postgres":{"id":"QZR6jt2yEz1JBvqt","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conversas_candidatos_incubacao","mode":"name"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1220,680],"id":"cb6651ce-b9d2-4aaf-9316-5e22c47d354c","name":"Delete table or rows1","credentials":{"postgres":{"id":"QZR6jt2yEz1JBvqt","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"maxTokens":800,"timeout":30000,"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2680,1320],"id":"b66d7cbe-1632-49b3-a863-30ae8c8727af","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"uu3Gb39bRtnzP2bu","name":"OpenAI Andre"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=Desculpe, houve erro de processamento, poderia repetir sua resposta?"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4300,520],"id":"cb83c0b3-72be-46b9-9340-6684012e86c1","name":"Z-API - Dados3","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=Desculpe, houve erro de processamento, poderia repetir sua resposta?"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5260,1800],"id":"72d96554-2a6b-4c12-aca1-6bea0601219f","name":"Z-API - Dados4","credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/3E34B1796728001766CE728A74374CC1/token/739DBE0A3929A921D34BED2D/send-text","authentication":"predefinedCredentialType","nodeCredentialType":"zapiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"message","value":"=Memória apagada"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,680],"id":"efd68e1c-f16a-4063-91ff-7085612e8f3e","name":"Z-API - Dados5","retryOnFail":true,"credentials":{"zapiApi":{"id":"Mvy87oy1GvsL7pPH","name":"Z-API account"}},"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"incubadora","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1140,1060],"id":"c58bde85-643a-4c55-9f5d-70ca49d17363","name":"Webhook","webhookId":"1b939bce-06a9-4899-99aa-3539e0c8bceb"},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"={{ $json.content.remoteJid }}","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.content.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.content.conversation }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.content.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.content.messageType }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"={{ $json.content.evo.instance }}","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.content.evo.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.content.evo.apikey }}","type":"string"},{"id":"89c694a3-3a94-4bf2-8d8d-016bafa3040e","name":"time_out","value":60,"type":"number"},{"id":"95eb2166-9205-4b79-ab5d-0c98fc3969ee","name":"client","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,1040],"id":"c8ae6a7e-3142-49de-a9e3-2ae720f2cb5c","name":"Dados"},{"parameters":{"queue":"ia-tecvitoria","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[-660,1060],"id":"37507883-b4ab-4710-999c-1927229a1539","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"zsHCfy8AaJSgjGNk","name":"RabbitMQ account"}}},{"parameters":{"queue":"ia-tecvitoria","options":{"acknowledge":"immediately","jsonParseBody":true}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-320,1060],"id":"d84d033b-6100-4a9a-bd21-ebed02085120","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"zsHCfy8AaJSgjGNk","name":"RabbitMQ account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"={{ $json.body.phone }}","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.body.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.body.text?.message || $json.body.buttonsResponseMessage?.message || $json.body.listResponseMessage?.title || 'Mensagem não encontrada' }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.body.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.body.type }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"={{ $json.body.instanceId }}","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"89c694a3-3a94-4bf2-8d8d-016bafa3040e","name":"time_out","value":60,"type":"number"},{"id":"95eb2166-9205-4b79-ab5d-0c98fc3969ee","name":"client","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,1060],"id":"e2adfbb7-e0a9-4643-a07f-268be38e4136","name":"Dados2"},{"parameters":{"operation":"update","tableId":"qualification_results","filters":{"conditions":[{"keyName":"Phone","condition":"eq","keyValue":"={{ $node[\"Dados\"].json.remoteJid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"TamSamSom","fieldValue":"={{ $json.respostas.tamSamSom }}"},{"fieldId":"Pesquisa qualitativa:","fieldValue":"={{ $json.respostas.pesquisaQualitativa }}"},{"fieldId":"Mapeamento concorrentes","fieldValue":"={{ $json.respostas.concorrentes }}"},{"fieldId":"Persona","fieldValue":"={{ $json.respostas.persona }}"},{"fieldId":"Pitch","fieldValue":"={{ $json.respostas.pitch }}"},{"fieldId":"Programas","fieldValue":"={{ $json.respostas.programasAnteriores }}"},{"fieldId":"pontuacao","fieldValue":"={{ $json.pontuacao }}"},{"fieldId":"resultado","fieldValue":"={{ $json.resultado }}"},{"fieldId":"data_qualificacao","fieldValue":"={{ $json.timestamp }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3740,1240],"id":"e2f52936-47e3-4c50-ae63-6e60f9edbcd5","name":"Update a row1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"tableId":"qualification_results","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $node[\"Process Qualification Data\"].json.nome }}"},{"fieldId":"projeto","fieldValue":"={{ $node[\"Process Qualification Data\"].json.projeto }}"},{"fieldId":"email","fieldValue":"={{ $node[\"Process Qualification Data\"].json.email }}"},{"fieldId":"whatsapp","fieldValue":"={{ $node[\"Process Qualification Data\"].json.whatsapp }}"},{"fieldId":"status","fieldValue":"={{ $node[\"Process Qualification Data\"].json.status }}"},{"fieldId":"data_qualificacao","fieldValue":"={{ $node[\"Process Qualification Data\"].json.timestamp }}"},{"fieldId":"respostas_json","fieldValue":"={{ JSON.stringify($node[\"Process Qualification Data\"].json.respostas) }}"},{"fieldId":"Phone","fieldValue":"={{ $('Dados').item.json.remoteJid }}"},{"fieldId":"Plano de negócios","fieldValue":"={{ $('Process Qualification Data').item.json.respostas.modeloNegocio }}"},{"fieldId":"pontuacao","fieldValue":"={{ $('Process Qualification Data').item.json.pontuacao }}"},{"fieldId":"resultado","fieldValue":"={{ $('Process Qualification Data').item.json.resultado }}"},{"fieldId":"status","fieldValue":"={{ $('Process Qualification Data').item.json.status }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3740,960],"id":"9f088ded-bd56-49ba-9a6b-7e3de3589aa5","name":"Create a row","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[2920,1160],"id":"c3579b3d-be64-488b-ae81-39540dff793b","name":"Auto-fixing Output Parser"}],"connections":{"Process Qualification Data":{"main":[[{"node":"If","type":"main","index":0}]]},"Check Completion Status":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"AI Agent - TecVitória Qualification1":{"main":[[{"node":"Process Qualification Data","type":"main","index":0}]]},"If":{"main":[[{"node":"Code4","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Code":{"main":[[{"node":"Aprovado para Incubação","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Aprovado para Startec","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Inscrição Trilha da Inovação","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Pergunta 3?","type":"main","index":0}]]},"Code4":{"main":[[{"node":"If3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}]]},"If3":{"main":[[{"node":"Z-API - Dados","type":"main","index":0}],[{"node":"Z-API - Botões Pergunta 1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"If6","type":"main","index":0}]]},"Dados1":{"main":[[{"node":"AI Agent - TecVitória Qualification1","type":"main","index":0}]]},"If6":{"main":[[],[{"node":"Dados1","type":"main","index":0}]]},"Aprovado para Incubação":{"main":[[{"node":"Feedback","type":"main","index":0}]]},"Aprovado para Startec":{"main":[[{"node":"Feedback","type":"main","index":0}]]},"Inscrição Trilha da Inovação":{"main":[[{"node":"Feedback","type":"main","index":0}]]},"Pergunta 3?":{"main":[[{"node":"Z-API - Lista - Pergunta 3","type":"main","index":0}],[{"node":"Pergunta 4?","type":"main","index":0}]]},"Pergunta 4?":{"main":[[{"node":"Z-API Lista Pergunta 4","type":"main","index":0}],[{"node":"Z-API - Botões Perguntas 2, 5, 6, 7","type":"main","index":0}]]},"Supabase6":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"AI Agent - TecVitória Qualification1","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"If5":{"main":[[{"node":"Recomeçar","type":"main","index":0}],[{"node":"Supabase6","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Z-API - Dados1","type":"main","index":0}],[{"node":"If7","type":"main","index":0}],[{"node":"Aprovado para Incubação1","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Z-API - Dados1":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Supabase4":{"main":[[{"node":"AI Agent - TecVitória Qualification1","type":"main","index":0}]]},"If7":{"main":[[{"node":"Delete table or rows1","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Z-API - Dados2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Feedback":{"main":[[]]},"If4":{"main":[[{"node":"Planilha","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent - TecVitória Qualification1","type":"ai_memory","index":0}]]},"Delete table or rows":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"Delete table or rows1":{"main":[[{"node":"Supabase5","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - TecVitória Qualification1","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Z-API - Botões Pergunta 1":{"main":[[],[{"node":"Z-API - Dados3","type":"main","index":0}]]},"Z-API - Dados":{"main":[[],[{"node":"Z-API - Dados3","type":"main","index":0}]]},"Z-API - Lista - Pergunta 3":{"main":[[],[{"node":"Z-API - Dados4","type":"main","index":0}]]},"Z-API Lista Pergunta 4":{"main":[[],[{"node":"Z-API - Dados4","type":"main","index":0}]]},"Z-API - Botões Perguntas 2, 5, 6, 7":{"main":[[],[{"node":"Z-API - Dados4","type":"main","index":0}]]},"Supabase5":{"main":[[{"node":"Z-API - Dados5","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Dados2","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados2":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Check Completion Status","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Check Completion Status","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent - TecVitória Qualification1","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.tecvitoria.com.br","user-agent":"Mozilla/5.0 (X11; Linux x86_64; rv:111.0) Gecko/20100101 Firefox/111.0","content-length":"755","content-type":"application/json","origin":"https://api.z-api.io","server":"Z-API","x-forwarded-for":"146.235.42.234","x-forwarded-host":"webhook.tecvitoria.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0caea1c95d30","x-real-ip":"146.235.42.234","z-api-token":"739DBE0A3929A921D34BED2D","accept-encoding":"gzip"},"params":{},"query":{},"body":{"isStatusReply":false,"chatLid":"196722538094652@lid","connectedPhone":"5527992549780","waitingMessage":false,"isEdit":false,"isGroup":false,"isNewsletter":false,"instanceId":"3E34B1796728001766CE728A74374CC1","messageId":"F643E5F34E660FE3FF66C64BB51C420A","phone":"5511994774816","fromMe":false,"momment":1751557999000,"status":"RECEIVED","chatName":"André Luiz","senderPhoto":null,"senderName":"André Luiz","photo":"https://pps.whatsapp.net/v/t61.24694-24/475200150_1730935324152518_2884271197856761311_n.jpg?ccb=11-4&oh=01_Q5Aa1wHSlfxX3T83AqEZcdieQ5f-yr-LtldwvFjG9QUa9Jyc9g&oe=68739AD9&_nc_sid=5e03e0&_nc_cat=105","broadcast":false,"participantLid":null,"forwarded":false,"type":"ReceivedCallback","fromApi":false,"text":{"message":"5511994774861"}},"webhookUrl":"https://webhook.tecvitoria.com.br/webhook/incubadora","executionMode":"production"}}],"RabbitMQ Trigger":[{"json":{"fields":{"consumerTag":"amq.ctag-_8cfbiPGsLngHTUaRoeuNQ","deliveryTag":3,"redelivered":false,"exchange":"","routingKey":"ia-tecvitoria"},"properties":{"headers":{}},"content":{"remoteJid":"5511994774816","fromMe":false,"conversation":"Sim","date_time":null,"messageType":"ReceivedCallback","evo":{"instance":"3E34B1796728001766CE728A74374CC1","server_url":null,"apikey":null},"time_out":60,"client":""}}}]},"versionId":"b1b86ccb-b86a-4098-8bbb-72f66107ca4d","triggerCount":3,"shared":[{"createdAt":"2025-07-03T13:49:57.151Z","updatedAt":"2025-07-03T13:49:57.151Z","role":"workflow:owner","workflowId":"TYnvZJERnjeFwePh","projectId":"bmuGqAprRmP37IQy"}],"tags":[]}