my-workflow-sawNeosexyKmYcdX.json
{"createdAt":"2025-07-11T18:22:04.079Z","updatedAt":"2025-07-11T18:34:23.307Z","id":"sawNeosexyKmYcdX","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"incubadora","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-360,160],"id":"6951bc77-d70f-4cf9-952b-75db7e62b136","name":"Webhook","webhookId":"1b939bce-06a9-4899-99aa-3539e0c8bceb"},{"parameters":{"queue":"ia-tecvitoria","options":{"exclusive":true}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[120,160],"id":"eb93224b-be97-4965-8660-c75d405bd4c0","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"zsHCfy8AaJSgjGNk","name":"RabbitMQ account"}}},{"parameters":{"queue":"ia-tecvitoria","options":{"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[460,160],"id":"520554b1-2ef6-424e-a115-eb9a4f64a656","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"zsHCfy8AaJSgjGNk","name":"RabbitMQ account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"={{ $json.body.phone }}","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.body.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.body.text?.message || $json.body.buttonsResponseMessage?.message || $json.body.listResponseMessage?.title || 'Mensagem não encontrada' }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.body.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.body.type }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"={{ $json.body.instanceId }}","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"89c694a3-3a94-4bf2-8d8d-016bafa3040e","name":"time_out","value":60,"type":"number"},{"id":"95eb2166-9205-4b79-ab5d-0c98fc3969ee","name":"client","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,160],"id":"e767150c-2301-4a47-aea5-0429da9d17fc","name":"Dados2"},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"={{ $json.content.remoteJid }}","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.content.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.content.conversation }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.content.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.content.messageType }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"={{ $json.content.evo.instance }}","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.content.evo.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.content.evo.apikey }}","type":"string"},{"id":"89c694a3-3a94-4bf2-8d8d-016bafa3040e","name":"time_out","value":60,"type":"number"},{"id":"95eb2166-9205-4b79-ab5d-0c98fc3969ee","name":"client","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,160],"id":"1c0e5e3d-a551-42e5-8cea-42f8d9f3f431","name":"Dados"},{"parameters":{"tableId":"Teste","fieldsUi":{"fieldValues":[{"fieldId":"Nome"},{"fieldId":"Telefone","fieldValue":"={{ $json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[900,160],"id":"cbb365b1-d560-48a4-8297-87224b7392fa","name":"Create a row","credentials":{"supabaseApi":{"id":"OaqABPiG2T08H6kW","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"Dados2","type":"main","index":0}]]},"Dados2":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Create a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.tecvitoria.com.br","user-agent":"Mozilla/5.0 (X11; Linux x86_64; rv:111.0) Gecko/20100101 Firefox/111.0","content-length":"755","content-type":"application/json","origin":"https://api.z-api.io","server":"Z-API","x-forwarded-for":"146.235.42.234","x-forwarded-host":"webhook.tecvitoria.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0caea1c95d30","x-real-ip":"146.235.42.234","z-api-token":"739DBE0A3929A921D34BED2D","accept-encoding":"gzip"},"params":{},"query":{},"body":{"isStatusReply":false,"chatLid":"196722538094652@lid","connectedPhone":"5527992549780","waitingMessage":false,"isEdit":false,"isGroup":false,"isNewsletter":false,"instanceId":"3E34B1796728001766CE728A74374CC1","messageId":"F643E5F34E660FE3FF66C64BB51C420A","phone":"5511994774816","fromMe":false,"momment":1751557999000,"status":"RECEIVED","chatName":"André Luiz","senderPhoto":null,"senderName":"André Luiz","photo":"https://pps.whatsapp.net/v/t61.24694-24/475200150_1730935324152518_2884271197856761311_n.jpg?ccb=11-4&oh=01_Q5Aa1wHSlfxX3T83AqEZcdieQ5f-yr-LtldwvFjG9QUa9Jyc9g&oe=68739AD9&_nc_sid=5e03e0&_nc_cat=105","broadcast":false,"participantLid":null,"forwarded":false,"type":"ReceivedCallback","fromApi":false,"text":{"message":"5511994774861"}},"webhookUrl":"https://webhook.tecvitoria.com.br/webhook/incubadora","executionMode":"production"}}],"RabbitMQ Trigger":[{"json":{"fields":{"consumerTag":"amq.ctag-I-O15bAq43sHWKW5avEJ_Q","deliveryTag":3,"redelivered":false,"exchange":"","routingKey":"ia-tecvitoria"},"properties":{"headers":{}},"content":{"remoteJid":"5511973273648","fromMe":false,"conversation":"E aí.","date_time":null,"messageType":"ReceivedCallback","evo":{"instance":"3E34B1796728001766CE728A74374CC1","server_url":null,"apikey":null},"time_out":60,"client":""}}}]},"versionId":"eab6e060-2705-4447-934f-2b44b43aad2f","triggerCount":2,"shared":[{"createdAt":"2025-07-11T18:22:04.079Z","updatedAt":"2025-07-11T18:22:04.079Z","role":"workflow:owner","workflowId":"sawNeosexyKmYcdX","projectId":"bmuGqAprRmP37IQy"}],"tags":[]}